In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
import re
import sys
from tqdm import tqdm

# Scraping one day

Variables to extract:
- Kes sembuh
- Kes baharu (table)
- Kes kumulatif (table)
- Kes import
- Kes tempatan
- Kes aktif 
- Kes yang memerlukan rawatan di Unit Rawatan Rapi (ICU)
- Kes memerlukan bantuan pernafasan
- Kes kematian

In [2]:
def get_matched_number(txt_found, numbers_found, 
                       text_pos='first', number_pos='first', 
                       verbose=0):
    
    # text_pos & number_pos are the locating positions to find the nearest digits
    assert text_pos in ('first', 'end')
    assert number_pos in ('first', 'end')
    
    distance_list = []
    short_dist_found = False
    
    text_idx = 0 if text_pos == 'first' else 1
    number_idx = 0 if number_pos == 'first' else 1

    for number in numbers_found:
        distance = abs(txt_found.span()[text_idx] - number.span()[number_idx])

        # Stop the loop if already found shortest distance
        if distance < 200:
            short_dist_found = True
        if distance > 400 and short_dist_found:
            break

        distance_list.append(distance)

    min_dist = min(distance_list)
    min_index = distance_list.index(min_dist)
    matched_number = numbers_found[min_index].group()
    
    if verbose:
        print(f'Numbers found so far: \
              {[number.group() for number in numbers_found[:len(distance_list)]]}')
        print(f'Distance list: {distance_list}\n')
    
    return matched_number

In [24]:
def scrape_data_old(current_url, verbose=0):
    r = requests.get(current_url)
    if r.status_code == 404:
        raise Exception("Error accessing page!!")
    soup = BeautifulSoup(r.content)
    all_text = soup.get_text()
    # Remove all COVID-19 words to avoid getting number 19 accidentally
    all_text = all_text.replace('COVID-19', '')\
                        .replace('covid19', '')\
                        .replace(',', '')
    numbers_found = list(re.finditer('\d+', all_text))
    data_dict = {}
    txt_to_skip = None
    
    if 'tiada kes kematian berkaitan' in all_text or current_url == problem_url_1:
        data_dict['Death'] = 0
        data_dict['Cumulative Death'] = np.nan
        txt_to_skip = ('kes kematian', 'kumulatif kes kematian')
        
    cases_to_extract = cases_to_extract_old.copy()
    
#     if current_url == problem_url:
#         cases_to_extract.remove("jumlah kes positif")
#         cases_to_extract.append("jumlah kumulatif kes positif")
    
#     if current_url == problem_url_2:
#         cases_to_extract.remove("jumlah kes positif")
#         cases_to_extract.append("Jumlah kes positif")
    
    for txt in cases_to_extract:
        if txt_to_skip:
            if txt in txt_to_skip:
                continue
        
        try:
            if verbose:
                print(f"[INFO] Finding {txt} ...")

            if txt == 'pulih':
                try:
                    txt_found = list(re.finditer(txt, all_text))[0]
                except:
                    # not the same text anymore, proceed to new format
                    return None
            elif txt == 'jumlah kes positif':
                txt_found_list = list(re.finditer(txt, all_text))
                if len(txt_found_list) == 0:
                    for i in ("jumlah kumulatif kes positif", "Jumlah kes positif"):
                        print(f"[INFO] Trying {i}")
                        txt_found_list = list(re.finditer(i, all_text))
                        # print(len(txt_found_list))
                        if len(txt_found_list) > 0:
                            break  
                txt_found = txt_found_list[0]
            else:
                txt_found = list(re.finditer(txt, all_text))[0]
        except Exception as e:
            print(f"Error obtaining {txt} !!")
            raise Exception(f"{e.__class__} occurred.")
        
        if txt == "JUMLAH KESELURUHAN":
            text_pos = 'end'
        else:
            text_pos = 'first'
        
        if verbose:
            print(f"Text found: {txt_found}\n")

        matched_number = get_matched_number(txt_found, numbers_found, 
                                            verbose=verbose, text_pos=text_pos)
        
        correct_col_name = case_name_mapping[txt]
        data_dict[correct_col_name] = matched_number
        
    for col_name in ("Imported Case", "Local Case", "Active Case",):
        data_dict[col_name] = np.nan
    
      
    return data_dict

In [27]:
txt = "I like to eat apple. Me too. Let's go buy some apples."
[sentence + '.' for sentence in txt.split('.') if 'abcd' in sentence]

[]

In [73]:
txt = "JUMLAH KESELURUHAN"
sentence_list = list(re.finditer(rf"([^.\n]*?{txt}[^.]*\.)", all_text))
sentence_list

In [112]:
txt_found = [tags.text for tags in soup.find_all("tr") if "JUMLAH KESELURUHAN" in tags.text][0]

In [113]:
txt_found

'\nJUMLAH KESELURUHAN\n36\n5,425\n'

In [74]:
def find_text(txt, all_text):
    sentence_list = list(re.finditer(rf"([^.\n]*?{txt}[^.]*\.)", all_text))
    if not sentence_list:
        raise Exception(f"[ERROR] {txt} not found!")
    else:
        return sentence_list[0]

In [3]:
def scrape_data(current_url, verbose=0):
    r = requests.get(current_url)
    if r.status_code == 404:
        raise Exception("Error accessing page!!")
    soup = BeautifulSoup(r.content)
    all_text = soup.get_text()
    # Remove all COVID-19 words to avoid getting number 19 accidentally
    all_text = all_text.replace('COVID-19', '')\
                        .replace('covid19', '')\
                        .replace(',', '')
    numbers_found = list(re.finditer('\d+', all_text))
    data_dict = {}
    txt_to_skip = None
    
    if 'tiada kes kematian berkaitan' in all_text or current_url == problem_url_1:
        data_dict['Death'] = 0
        data_dict['Cumulative Death'] = np.nan
        txt_to_skip = ('kes kematian', 'kumulatif kes kematian')
        
    cases_to_extract = cases_to_extract_old.copy()
    
    for txt in cases_to_extract:
        if txt_to_skip:
            if txt in txt_to_skip:
                continue
        
        try:
            if verbose:
                print(f"[INFO] Finding {txt} ...")

            if txt == 'pulih':
                try:
                    txt_found = find_text(txt, all_text)
                except:
                    print('[ERROR] "pulih" not found ...')
                    # not the same text anymore, proceed to new format
                    return None
            elif txt == 'jumlah kes positif':
                txt_to_search = "'(jumlah kes positif|jumlah kumulatif kes positif|Jumlah kes positif)'"
                txt_found = find_text(txt_to_search, all_text)
            else:
                txt_found = find_text(txt, all_text)
        except Exception as e:
            print(f"Error obtaining {txt} !!")
            raise Exception(f"{e.__class__} occurred.")
        
        if txt == "JUMLAH KESELURUHAN":
            text_pos = 'end'
        else:
            text_pos = 'first'
        
        if verbose:
            print(f"Text found: {txt_found}\n")

        matched_number = get_matched_number(txt_found, numbers_found, 
                                            verbose=verbose, text_pos=text_pos)
        
        correct_col_name = case_name_mapping[txt]
        data_dict[correct_col_name] = matched_number
        
    for col_name in ("Imported Case", "Local Case", "Active Case",):
        data_dict[col_name] = np.nan
    
      
    return data_dict

In [111]:
case_name_mapping

{'pulih': 'Recovered',
 'telah discaj': 'Cumulative Recovered',
 'JUMLAH KESELURUHAN': 'New Case',
 'jumlah kes positif': 'Cumulative Case',
 'Unit Rawatan Rapi': 'ICU',
 'bantuan pernafasan': 'Ventilator',
 'kes kematian': 'Death',
 'kumulatif kes kematian': 'Cumulative Death',
 'jumlah kumulatif kes positif': 'Cumulative Case',
 'Jumlah kes positif': 'Cumulative Case',
 'Kes sembuh': 'Recovered',
 'kumulatif_0': 'Cumulative Recovered',
 'kumulatif_1': 'Cumulative Case',
 'Kes import': 'Imported Case',
 'Kes tempatan': 'Local Case',
 'Kes aktif': 'Active Case',
 'kumulatif_2': 'Cumulative Death'}

In [262]:
scrape_data(soup)

{'Recovered': '61',
 'Cumulative Recovered': '320',
 'New Case': '159',
 'Cumulative Case': '2320',
 'ICU': '73',
 'Ventilator': '54',
 'Death': '1',
 'Cumulative Death': '27'}

# Test scraping new format

In [289]:
URL = "https://kpkesihatan.com/2021/04/17/kenyataan-akhbar-kpk-17-april-2021-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

In [290]:
r = requests.get(URL)
soup = BeautifulSoup(r.content)

all_text = soup.get_text().lower()
# Remove all COVID-19 words to avoid getting number 19 accidentally
all_text = all_text.replace('covid-19', '').replace('covid19', '').replace(',', '')

In [291]:
all_text

'\n\n\n\n\nkenyataan akhbar kpk 17 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia – from the desk of the director-general of health malaysia\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nmenu\nhome\nabout\npress\npress response\nblog\nspeech\n \n\n\n\n\n\n \n\n\t\t\t\t\t\tfrom the desk of the director-general of health malaysia\t\t\t\t\t\n\n\n\t\t\t\t\ta nation working together for better health\t\t\t\t\n\n\n\n\nsearch for...\n\n\n\uf400\n\n\n\n\n\n\n\n\ncommunicable disease\nkenyataan akhbar kpk 17 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \nby dg of health on april 17 2021 \n\nsituasi semasa jangkitan penyakit\ncoronavirus 2019 () di malaysia\n17 april 2021\nkementerian kesihatan malaysia (kkm) ingin memaklumkan status terkini kes  di malaysia sehingga 17 april 2021 (jam 12:00 tengah hari);\nkes sembuh : 1832 kes (352395 kes kumulatif 94.5%);kes baharu : 2331 kes (372859 kes kumulatif);kes import : 12 kes (7 warganegara 5 bukan warganegara);kes tempatan : 2319 kes [2098 warganegara (90.5%); 221 bukan warganegara (9.5%)];kes aktif : 19094 kes;kes yang memerlukan rawatan di unit rawatan rapi (icu) : 225 kes;kes memerlukan bantuan pernafasan : 92 kes;dankes kematian : 5 kes (1370 kes kumulatif 0.37%; 5 warganegara).\npada hari ini selangor melaporkan kes harian baharu tertinggi iaitu sebanyak 751 kes (32.2 peratus). daripada jumlah ini sebanyak 623 kes (83.0 peratus) adalah daripada kluster-kluster dan saringan kontak rapat kes positif  yang aktif dijalankan di lapangan. ini diikuti oleh sarawak sebanyak 512 kes (22.0 peratus) dan wilayah persekutuan kuala lumpur sebanyak 252 kes (10.8 peratus).\nsebanyak 39 kes (1.7 peratus) yang dilaporkan pula adalah berkaitan kluster-kluster di penjara dan depot tahanan imigresen (dti) yang membabitkan kluster dti lenggeng (24 kes) kluster jalan salleh (11 kes) kluster tembok pengkalan chepa (3 kes) dan kluster dti sandakan (1 kes).\nterdapat lima (5) kes kematian pada hari ini yang melibatkan masing-masing dua (2) kes di selangor dan sabah serta satu (1) kes di sarawak. kesemua kes melibatkan warganegara. kkm mengucapkan takziah kepada ahli keluarga mereka.\nperincian penuh jumlah kes mengikut negeri adalah seperti di lampiran 1 dan 2 manakala ringkasan kes kematian mengikut negeri adalah seperti di lampiran 3 yang disertakan bersama kenyataan media ini.\nmaklumat terkini berkaitan kluster-kluster\nberikut adalah maklumat terkini berkaitan kluster-kluster di malaysia sehingga 17 april 2021:\njumlah kluster : 1515 kluster;jumlah kluster baharu : 8 kluster;jumlah kluster yang telah tamat :1168 kluster [termasuktujuh (7) kluster yang tamat pada hari ini iaitu kluster pulau pisang kluster bukit marak kluster dagang permai kluster perusahaan jalan bukit kluster jalan lapangan terbang kluster jalan rawang dan kluster teratai];jumlah kluster aktif : 347 kluster;jumlah kluster dengan pertambahan kes baharu pada hari ini : 69 kluster; dankluster-kluster dengan pertambahan kes baharu tertinggi pada hari ini adalah kluster ulu balingian (101 kes) kluster jalan bukit belida (37 kes) dan kluster jalan kota kubang labu (32 kes).\nkluster baharu\nkkm juga ingin memaklumkan terdapat lapan (8) kluster baharu yang telah dikenal pasti pada hari ini yang melibatkan empat (4) kluster tempat kerja tiga (3) kluster sekolah / institusi pendidikan kementerian pendidikan malaysia (kpm) dan satu (1) kluster komuniti.\nperincian kluster-kluster baharu adalah seperti di lampiran 4 yang disertakan bersama kenyataan media ini.\nno.nama klusternegerikategori kluster1jalan ding lik kwongsarawaktempat kerja2jalan damai tawausabahtempat kerja3bukit quoinsabahtempat kerja4jalan wawasan limajohortempat kerja5ulu balingiansarawaksekolah / institusi pendidikan kpm6jalan disasarawaksekolah / institusi pendidikan kpm7jalan maktabselangorsekolah / institusi pendidikan kpm8seri kuantanpahangkomuniti\nnasihat kesihatan berkaitan \nkkm ingin menasihati orang ramai termasuk individu-individu yang telah menerima vaksin  agar terus mematuhi saranan serta nasihat-nasihat kesihatan yang sering ditekankan iaitu;\nelakkan 3s: (elakkan kawasan yang sesak sempit dan sembang dengan jarak yang dekat).amalkan 3w: (amalkan wash wear dan warn).\npatuhlah kepada s.o.p sebagai normal baharu. kkm akan terus memantau perkembangan kejadian jangkitan di dalam negara dan juga luar negara melalui maklumat yang diperolehi daripada pihak who. orang ramai akan sentiasa dimaklumkan sebarang perkembangan terkini mengenainya. begitu juga kkm akan memastikan langkah pencegahan dan kawalan yang sewajarnya adalah dilaksanakan secara berterusan.\nsekian terima kasih.\ntan sri dato’ seri dr. noor hisham abdullah\nketua pengarah kesihatan malaysia\n17 april 2021 @ 6.00 petang.\nlampiran 1\nbilangan kes \nmengikut negeri di malaysia\n(sehingga 17 april 2021 jam 12:00 tengah hari)\nnegeribilangan kes baharu *(\xa0\xa0\xa0 )bilangan kes kumulatifselangor751 (1)123158sabah16356673johor 10042929wp kuala lumpur252 (11)39916sarawak 51223432pulau pinang11618200negeri sembilan8917873perak4214026kedah459051kelantan\xa0\xa0 2258116melaka96887pahang 204680terengganu03879wp labuan22421wp putrajaya41272perlis1346jumlah keseluruhan2331 (12)372859\n*(\xa0\xa0 ) adalah merujuk kepada kes-kes import\nlampiran 2\nperincian 2331 kes positif  baharu yang dilaporkan di malaysia pada 17 april 2021 adalah seperti berikut:\xa0\nselangor: 751 kes\xa040 kes daripada kluster-kluster termasuk empat (4) kes daripada kluster baharu iaitu kluster jalan maktab;583 kes daripada saringan kontak rapat kes positif ;satu (1) kes import dari luar negara; dan127 kes daripada lain-lain saringan .\nsarawak: 512 kes167 kes daripada kluster-kluster termasuk 117 kes daripada kluster-kluster baharu iaitu kluster jalan disa kluster jalan ding lik kwong dan kluster ulu balingian;222 kes daripada saringan kontak rapat kes positif ; dan123 kes daripada lain-lain saringan .\nwilayah persekutuan kuala lumpur: 252 kes\xa0\xa0lima (5) kes daripada kluster-kluster sedia ada;149 kes daripada saringan kontak rapat kes positif ;11 kes import dari luar negara; dan87 kes daripada lain-lain saringan .\nkelantan: 225 kes\xa065 kes daripada kluster-kluster sedia ada;128 kes daripada saringan kontak rapat kes positif ; dan32 kes daripada lain-lain saringan .\nsabah: 163 kes\xa072 kes daripada kluster-kluster termasuk 10 kes daripada kluster-kluster baharu iaitu kluster bukit quion dan kluster jalan damai tawau; 62 kes daripada saringan kontak rapat kes positif ; dan29 kes daripada lain-lain saringan .\npulau pinang: 116 kes\xa029 kes daripada kluster-kluster sedia ada;35 kes daripada saringan kontak rapat kes positif ; dan52 kes daripada lain-lain saringan .\njohor: 100 kes\xa0\xa043 kes daripada kluster-kluster termasuk enam (6) kes daripada kluster baharu iaitu kluster jalan wawasan lima;39 kes daripada saringan kontak rapat kes positif ; dan18 kes daripada lain-lain saringan .\nnegeri sembilan: 89 kes63 kes daripada kluster-kluster sedia ada;18 kes daripada saringan kontak rapat kes positif ; danlapan (8) kes daripada lain-lain saringan .\nkedah: 45\xa0 kes15 kes daripada kluster-kluster sedia ada;18 kes daripada saringan kontak rapat kes positif ; dan12 kes daripada lain-lain saringan .\nperak: 42 kes28 kes daripada kluster-kluster sedia ada; lima (5) kes daripada saringan kontak rapat kes positif ; dan sembilan (9) kes daripada lain-lain saringan .\npahang: 20 kes lapan (8) kes daripada kluster-kluster termasuk lima (5) kes daripada kluster baharu iaitu kluster seri kuantan;tiga (3) kes daripada saringan kontak rapat kes positif ; dansembilan (9) kes daripada lain-lain saringan .\nmelaka: sembilan (9) kesdua (2) kes daripada kluster-kluster sedia ada;dua (2) kes daripada saringan kontak rapat kes positif ; danlima (5) kes daripada lain-lain saringan .\nwilayah persekutuan putrajaya: empat (4) kessatu (1) kes daripada kluster sedia ada; dantiga (3) kes daripada saringan kontak rapat kes positif .\nwilayah persekutuan labuan: dua (2) kes \xa0\xa0satu (1) kes daripada kluster sedia ada; dansatu (1) kes daripada lain-lain saringan .\nperlis: satu (1) kes daripada saringan kontak rapat kes positif .\nlampiran 3\nringkasan lima (5) kes kematian pada 17 april 2021 adalah seperti berikut:\nno. \xa0\xa0\xa0 kematian\xa0\xa0negeri\xa0\xa0jantina\xa0\xa0 (warganegara) umur (tahun)\xa0\xa0 hospital / tempat kematian\xa0\xa0latar belakang\xa0\xa01366selangorlelaki (wn)78hospital ampangpenyakit darah tinggi kencing manis dislipidemia dan obesiti1367selangorperempuan (wn)76hospital ampangpenyakit darah tinggi kencing manis dan jantung1368sabahlelaki (wn)61hospital tawaupenyakit darah tinggi kencing manis buah pinggang kronik dan jantung1369sabahperempuan (wn)86hospital queen elizabethpenyakit darah tinggi kencing manis dan strok1370sarawakperempuan (wn)68hospital miripenyakit jantung\n*wn merujuk kepada warganegara.\nlampiran 4\nperincian lapan (8) kluster baharu yang telah dikenal pasti pada hari ini iaitu:\nkluster jalan ding lik kwong\nkluster tempat kerja ini melibatkan daerah sibu di sarawak. kes indeks bagi kluster ini (iaitu kes ke-363299) dilaporkan positif  pada 13 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah institusi awam yang terletak di jalan ding lik kwong sibu. sehingga 17 april 2021 sejumlah 43 individu telah disaring di mana 16 kes dikesan positif  dalam kluster ini.\nkluster jalan damai tawau\nkluster tempat kerja ini melibatkan daerah tawau di sabah. kes indeks bagi kluster ini (iaitu kes ke-362764) dilaporkan positif  pada 13 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah pusat perkhidmatan yang terletak di jalan damai tawau. sehingga 17 april 2021 sejumlah 65 individu telah disaring di mana 14 kes dikesan positif  dalam kluster ini.\nkluster bukit quoin\nkluster tempat kerja ini melibatkan daerah tawau di sabah. kes indeks bagi kluster ini (iaitu kes ke-358127) dilaporkan positif  pada 10 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah institusi awam yang terletak di hill tawau sabah. sehingga 17 april 2021 sejumlah 18 individu telah disaring di mana 11 kes dikesan positif  dalam kluster ini.\nkluster jalan wawasan lima\nkluster tempat kerja ini melibatkan daerah batu pahat di johor. kes indeks bagi kluster ini (iaitu kes ke-361317) dilaporkan positif  pada 12 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah kilang yang terletak di jalan wawasan 5 batu pahat. sehingga 17 april 2021 sejumlah 178 individu telah disaring di mana 10 kes dikesan positif  dalam kluster ini.\nkluster ulu balingian\nkluster sekolah/ institusi pendidikan kpm ini melibatkan daerah selangau di sarawak. kes-kes dalam kluster ini dilaporkan positif  bermula pada 17 april 2021 hasil saringan bersasar pelajar-pelajar sebuah sekolah yang terletak di ulu balingian selangau. sehingga 17 april 2021 sejumlah 200 individu telah disaring di mana 101 kes dikesan positif  dalam kluster ini.\nkluster jalan disa\nkluster sekolah/ institusi pendidikan kpm ini melibatkan daerah sibu di sarawak. kes indeks bagi kluster ini (iaitu kes ke-365062) dilaporkan positif  pada 14 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah sekolah yang terletak di jalan disa sibu. sehingga 17 april 2021 sejumlah 199 individu telah disaring di mana 20 kes dikesan positif  dalam kluster ini.\nkluster jalan maktab\nkluster sekolah/ institusi pendidikan kpm ini melibatkan daerah sepang dan hulu langat di selangor serta wilayah persekutuan putrajaya. kes indeks bagi kluster ini (iaitu kes ke-366010) dilaporkan positif  pada 15 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah institusi pendidikan yang terletak di jalan maktab bandar baru bangi sepang. sehingga 17 april 2021 sejumlah 42 individu telah disaring di manasembilan (9) kes dikesan positif  dalam kluster ini.\nkluster seri kuantan\nkluster komuniti ini melibatkan daerah kuantan di pahang serta daerah cheras di wilayah persekutuan kuala lumpur. kes indeks bagi kluster ini (iaitu kes ke-368956) dilaporkan positif  pada16 april 2021 hasil saringan individu bergejala. kluster ini melibatkan sebuah majlis yang berlangsung di wilayah persekutuan kuala lumpur pada 10 april 2021. sehingga 17 april 2021 sejumlah 111 individu telah disaring di mana 18 kes dikesan positif  dalam kluster ini.\nshare this:click to share on facebook (opens in new window)click to share on twitter (opens in new window)click to share on whatsapp (opens in new window)click to share on telegram (opens in new window)click to share on linkedin (opens in new window)click to email this to a friend (opens in new window)click to print (opens in new window)moreclick to share on tumblr (opens in new window)click to share on pinterest (opens in new window)click to share on skype (opens in new window)like this:like loading...\n\nrelated\n \n\ncategories: communicable disease crisis & disaster press \ntagged as:  \n\n\n\npost navigation\n\nkenyataan akhbar kpk 16 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\n\n\nkenyataan akhbar kpk 18 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\n\n\n\n\n\n\n\nsearch for...\n\n\n\uf400\n\n\n\nrecent posts\n\n\nkenyataan akhbar kpk 19 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\napril 19 2021\n\n\nkenyataan akhbar kpk 18 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\napril 18 2021\n\n\nkenyataan akhbar kpk 17 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\napril 17 2021\n\n\nkenyataan akhbar kpk 16 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\napril 16 2021\n\n\nkenyataan akhbar kpk 15 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia\napril 15 2021\n\n\ntop posts & pages \nkenyataan akhbar kpk 18 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nkenyataan akhbar kpk 19 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nkenyataan akhbar kpk 17 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nsoalan lazim (faq) penyakit tangan kaki dan mulut (hand foot and mouth disease hfmd) \n\nkenyataan akhbar kpk 16 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nkenyataan akhbar kpk 15 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nkenyataan akhbar kpk 14 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nkenyataan akhbar kpk 18 april 2020 - situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \n\nkenyataan akhbar kpk 15 mei 2020 - pemberian perkhidmatan imunisasi kepada murid sekolah di klinik kesihatan \n\nkenyataan akhbar kpk 13 april 2021 – situasi semasa jangkitan penyakit coronavirus 2019 () di malaysia \narchives archives\n\nselect month\n april 2021 \xa0(23)\n march 2021 \xa0(38)\n february 2021 \xa0(31)\n january 2021 \xa0(34)\n december 2020 \xa0(35)\n november 2020 \xa0(38)\n october 2020 \xa0(35)\n september 2020 \xa0(33)\n august 2020 \xa0(35)\n july 2020 \xa0(37)\n june 2020 \xa0(34)\n may 2020 \xa0(32)\n april 2020 \xa0(35)\n march 2020 \xa0(35)\n february 2020 \xa0(28)\n january 2020 \xa0(20)\n december 2019 \xa0(14)\n november 2019 \xa0(6)\n october 2019 \xa0(7)\n september 2019 \xa0(12)\n august 2019 \xa0(9)\n july 2019 \xa0(10)\n june 2019 \xa0(6)\n may 2019 \xa0(10)\n april 2019 \xa0(7)\n march 2019 \xa0(6)\n february 2019 \xa0(8)\n january 2019 \xa0(7)\n december 2018 \xa0(10)\n november 2018 \xa0(6)\n october 2018 \xa0(11)\n september 2018 \xa0(18)\n august 2018 \xa0(12)\n july 2018 \xa0(12)\n june 2018 \xa0(9)\n may 2018 \xa0(11)\n april 2018 \xa0(7)\n march 2018 \xa0(8)\n february 2018 \xa0(5)\n january 2018 \xa0(8)\n december 2017 \xa0(9)\n november 2017 \xa0(14)\n october 2017 \xa0(8)\n september 2017 \xa0(3)\n august 2017 \xa0(10)\n july 2017 \xa0(14)\n june 2017 \xa0(3)\n may 2017 \xa0(10)\n april 2017 \xa0(8)\n march 2017 \xa0(11)\n february 2017 \xa0(15)\n january 2017 \xa0(15)\n december 2016 \xa0(14)\n november 2016 \xa0(11)\n october 2016 \xa0(12)\n september 2016 \xa0(14)\n august 2016 \xa0(23)\n july 2016 \xa0(14)\n june 2016 \xa0(14)\n may 2016 \xa0(12)\n april 2016 \xa0(12)\n march 2016 \xa0(15)\n february 2016 \xa0(16)\n january 2016 \xa0(20)\n december 2015 \xa0(8)\n november 2015 \xa0(12)\n october 2015 \xa0(22)\n september 2015 \xa0(12)\n august 2015 \xa0(9)\n july 2015 \xa0(16)\n june 2015 \xa0(23)\n may 2015 \xa0(8)\n april 2015 \xa0(8)\n march 2015 \xa0(15)\n february 2015 \xa0(11)\n january 2015 \xa0(12)\n december 2014 \xa0(9)\n november 2014 \xa0(12)\n october 2014 \xa0(12)\n september 2014 \xa0(39)\n august 2014 \xa0(41)\n july 2014 \xa0(2)\n\n\ncategory cloudblog communicable disease crisis & disaster dengue dental drug safety ebola environmental health food food safety healthcare transformation healthy eating healthy living hospital services medical profession mh17 non-communicable disease patient safety pharmacy press press response primary care & community research & publication smoking speech uncategorized vaccine who zika \napril 2021\n\n\nm\nt\nw\nt\nf\ns\ns\n\n\n\n\n\xa01234\n\n\n567891011\n\n\n12131415161718\n\n\n19202122232425\n\n\n2627282930\n\xa0\n\n\n\n« mar\n\xa0\n\xa0\nfb noor hisham abdullah \n\nfb noor hisham abdullah\n\nfollow me on twitter @dghishammy tweets\nfollow from the desk of the director-general of health malaysia on wordpress.com\n\nsubscribe to blog via email\n\nenter your email address to subscribe to this blog and receive notifications of new posts by email.\n\n\n\t\t\t\t\t\tjoin 903711 other followers\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\temail address:\t\t\t\t\t\n \n\n\n\n\n\n\n \n\t                    subscribe                    \n\n\nblog stats \n23656060 hits\n\n\n\n\n\nhome\nabout\npress\npress response\nblog\nspeech\n \n\n\ntop categories:  press cosmetics \n\nwebsite powered by wordpress.com.\n\t\t\t\n\t\t\n\n\n\n\n\n\n\n\n\n\n\n\n\nsend to email address\n\nyour name\n\nyour email address\n\n\n\n\n\ncancel\n\n\t\t\t\tpost was not sent - check your email addresses!\t\t\t\n\n\t\t\t\temail check failed please try again\t\t\t\n\n\t\t\t\tsorry your blog cannot share posts by email.\t\t\t\n\n\n\n\n\n\n\n\n\n\n \n<span>%d</span> bloggers like this:\n \n\n\n\n\n\n'

In [255]:
txt_found = list(re.finditer('kes sembuh', all_text))[0]
txt_found

In [210]:
numbers_found = list(re.finditer('\d+', all_text))

In [169]:
numbers_found

[<re.Match object; span=(26, 28), match='28'>,
 <re.Match object; span=(33, 37), match='2020'>,
 <re.Match object; span=(86, 90), match='2019'>,
 <re.Match object; span=(490, 492), match='28'>,
 <re.Match object; span=(497, 501), match='2020'>,
 <re.Match object; span=(550, 554), match='2019'>,
 <re.Match object; span=(596, 598), match='28'>,
 <re.Match object; span=(600, 604), match='2020'>,
 <re.Match object; span=(724, 726), match='61'>,
 <re.Match object; span=(901, 904), match='320'>,
 <re.Match object; span=(951, 953), match='28'>,
 <re.Match object; span=(958, 962), match='2020'>,
 <re.Match object; span=(969, 971), match='12'>,
 <re.Match object; span=(994, 997), match='159'>,
 <re.Match object; span=(1095, 1096), match='2'>,
 <re.Match object; span=(1097, 1100), match='320'>,
 <re.Match object; span=(1129, 1131), match='73'>,
 <re.Match object; span=(1214, 1216), match='54'>,
 <re.Match object; span=(1323, 1324), match='1'>,
 <re.Match object; span=(1502, 1504), match='27'>,
 <re.Match object; span=(1530, 1532), match='27'>,
 <re.Match object; span=(1541, 1545), match='2162'>,
 <re.Match object; span=(1592, 1594), match='61'>,
 <re.Match object; span=(1715, 1717), match='24'>,
 <re.Match object; span=(1722, 1726), match='2020'>,
 <re.Match object; span=(1795, 1797), match='25'>,
 <re.Match object; span=(1802, 1806), match='2020'>,
 <re.Match object; span=(1845, 1847), match='28'>,
 <re.Match object; span=(1852, 1856), match='2020'>,
 <re.Match object; span=(1861, 1863), match='10'>,
 <re.Match object; span=(1864, 1866), match='50'>,
 <re.Match object; span=(2077, 2079), match='18'>,
 <re.Match object; span=(2084, 2088), match='2020'>,
 <re.Match object; span=(2119, 2121), match='14'>,
 <re.Match object; span=(2128, 2132), match='2020'>,
 <re.Match object; span=(2448, 2450), match='14'>,
 <re.Match object; span=(3656, 3657), match='2'>,
 <re.Match object; span=(3658, 3663), match='66016'>,
 <re.Match object; span=(3664, 3671), match='0002347'>,
 <re.Match object; span=(3672, 3673), match='5'>,
 <re.Match object; span=(3815, 3817), match='03'>,
 <re.Match object; span=(3818, 3822), match='8883'>,
 <re.Match object; span=(3823, 3827), match='3111'>,
 <re.Match object; span=(3866, 3867), match='8'>,
 <re.Match object; span=(3868, 3870), match='00'>,
 <re.Match object; span=(3883, 3884), match='5'>,
 <re.Match object; span=(3885, 3887), match='00'>,
 <re.Match object; span=(4677, 4679), match='28'>,
 <re.Match object; span=(4684, 4688), match='2020'>,
 <re.Match object; span=(4691, 4692), match='5'>,
 <re.Match object; span=(4693, 4695), match='00'>,
 <re.Match object; span=(4756, 4758), match='28'>,
 <re.Match object; span=(4763, 4767), match='2020'>,
 <re.Match object; span=(4773, 4775), match='12'>,
 <re.Match object; span=(4776, 4778), match='00'>,
 <re.Match object; span=(4853, 4854), match='0'>,
 <re.Match object; span=(4855, 4857), match='10'>,
 <re.Match object; span=(4866, 4867), match='1'>,
 <re.Match object; span=(4868, 4870), match='74'>,
 <re.Match object; span=(4886, 4887), match='6'>,
 <re.Match object; span=(4888, 4890), match='86'>,
 <re.Match object; span=(4899, 4900), match='6'>,
 <re.Match object; span=(4901, 4904), match='165'>,
 <re.Match object; span=(4916, 4918), match='33'>,
 <re.Match object; span=(4919, 4922), match='579'>,
 <re.Match object; span=(4941, 4943), match='15'>,
 <re.Match object; span=(4944, 4947), match='153'>,
 <re.Match object; span=(4957, 4958), match='9'>,
 <re.Match object; span=(4959, 4961), match='42'>,
 <re.Match object; span=(4970, 4972), match='26'>,
 <re.Match object; span=(4973, 4976), match='285'>,
 <re.Match object; span=(4986, 4988), match='14'>,
 <re.Match object; span=(4989, 4991), match='84'>,
 <re.Match object; span=(5005, 5006), match='4'>,
 <re.Match object; span=(5007, 5009), match='45'>,
 <re.Match object; span=(5021, 5023), match='10'>,
 <re.Match object; span=(5024, 5027), match='108'>,
 <re.Match object; span=(5036, 5038), match='15'>,
 <re.Match object; span=(5039, 5042), match='197'>,
 <re.Match object; span=(5053, 5054), match='8'>,
 <re.Match object; span=(5055, 5058), match='118'>,
 <re.Match object; span=(5079, 5080), match='7'>,
 <re.Match object; span=(5081, 5084), match='344'>,
 <re.Match object; span=(5102, 5103), match='0'>,
 <re.Match object; span=(5104, 5106), match='20'>,
 <re.Match object; span=(5121, 5122), match='5'>,
 <re.Match object; span=(5123, 5125), match='10'>,
 <re.Match object; span=(5147, 5150), match='159'>,
 <re.Match object; span=(5151, 5152), match='2'>,
 <re.Match object; span=(5153, 5156), match='320'>,
 <re.Match object; span=(5333, 5337), match='2019'>,
 <re.Match object; span=(5418, 5420), match='28'>,
 <re.Match object; span=(5427, 5431), match='2020'>,
 <re.Match object; span=(5489, 5491), match='61'>,
 <re.Match object; span=(5560, 5563), match='320'>,
 <re.Match object; span=(5657, 5659), match='28'>,
 <re.Match object; span=(5666, 5670), match='2020'>,
 <re.Match object; span=(5672, 5674), match='12'>,
 <re.Match object; span=(5691, 5694), match='159'>,
 <re.Match object; span=(5838, 5839), match='2'>,
 <re.Match object; span=(5840, 5843), match='320'>,
 <re.Match object; span=(5885, 5887), match='73'>,
 <re.Match object; span=(5974, 5976), match='54'>,
 <re.Match object; span=(6029, 6030), match='1'>,
 <re.Match object; span=(6117, 6119), match='27'>,
 <re.Match object; span=(6149, 6151), match='27'>,
 <re.Match object; span=(6158, 6159), match='2'>,
 <re.Match object; span=(6160, 6163), match='162'>,
 <re.Match object; span=(6169, 6171), match='61'>,
 <re.Match object; span=(6291, 6293), match='24'>,
 <re.Match object; span=(6300, 6304), match='2020'>,
 <re.Match object; span=(6376, 6378), match='25'>,
 <re.Match object; span=(6385, 6389), match='2020'>,
 <re.Match object; span=(6417, 6419), match='28'>,
 <re.Match object; span=(6426, 6430), match='2020'>,
 <re.Match object; span=(6434, 6436), match='10'>,
 <re.Match object; span=(6437, 6439), match='50'>,
 <re.Match object; span=(6617, 6619), match='18'>,
 <re.Match object; span=(6626, 6630), match='2020'>,
 <re.Match object; span=(6663, 6665), match='14'>,
 <re.Match object; span=(6672, 6676), match='2020'>,
 <re.Match object; span=(6921, 6923), match='14'>,
 <re.Match object; span=(7932, 7933), match='2'>,
 <re.Match object; span=(7934, 7939), match='66016'>,
 <re.Match object; span=(7940, 7947), match='0002347'>,
 <re.Match object; span=(7948, 7949), match='5'>,
 <re.Match object; span=(8100, 8102), match='03'>,
 <re.Match object; span=(8103, 8111), match='88833111'>,
 <re.Match object; span=(8136, 8137), match='8'>,
 <re.Match object; span=(8138, 8140), match='00'>,
 <re.Match object; span=(8147, 8148), match='5'>,
 <re.Match object; span=(8149, 8151), match='00'>,
 <re.Match object; span=(8876, 8878), match='28'>,
 <re.Match object; span=(8885, 8889), match='2020'>,
 <re.Match object; span=(8892, 8893), match='5'>,
 <re.Match object; span=(8894, 8896), match='00'>,
 <re.Match object; span=(8971, 8973), match='28'>,
 <re.Match object; span=(8980, 8984), match='2020'>,
 <re.Match object; span=(8986, 8988), match='12'>,
 <re.Match object; span=(9039, 9040), match='0'>,
 <re.Match object; span=(9041, 9043), match='10'>,
 <re.Match object; span=(9052, 9053), match='1'>,
 <re.Match object; span=(9054, 9056), match='74'>,
 <re.Match object; span=(9072, 9073), match='6'>,
 <re.Match object; span=(9074, 9076), match='86'>,
 <re.Match object; span=(9085, 9086), match='6'>,
 <re.Match object; span=(9087, 9090), match='165'>,
 <re.Match object; span=(9102, 9104), match='33'>,
 <re.Match object; span=(9105, 9108), match='579'>,
 <re.Match object; span=(9127, 9129), match='15'>,
 <re.Match object; span=(9130, 9133), match='153'>,
 <re.Match object; span=(9143, 9144), match='9'>,
 <re.Match object; span=(9145, 9147), match='42'>,
 <re.Match object; span=(9156, 9158), match='26'>,
 <re.Match object; span=(9159, 9162), match='285'>,
 <re.Match object; span=(9172, 9174), match='14'>,
 <re.Match object; span=(9175, 9177), match='84'>,
 <re.Match object; span=(9191, 9192), match='4'>,
 <re.Match object; span=(9193, 9195), match='45'>,
 <re.Match object; span=(9207, 9209), match='10'>,
 <re.Match object; span=(9210, 9213), match='108'>,
 <re.Match object; span=(9222, 9224), match='15'>,
 <re.Match object; span=(9225, 9228), match='197'>,
 <re.Match object; span=(9239, 9240), match='8'>,
 <re.Match object; span=(9241, 9244), match='118'>,
 <re.Match object; span=(9263, 9264), match='7'>,
 <re.Match object; span=(9265, 9268), match='344'>,
 <re.Match object; span=(9284, 9285), match='0'>,
 <re.Match object; span=(9286, 9288), match='20'>,
 <re.Match object; span=(9301, 9302), match='5'>,
 <re.Match object; span=(9303, 9305), match='10'>,
 <re.Match object; span=(9314, 9317), match='159'>,
 <re.Match object; span=(9318, 9319), match='2'>,
 <re.Match object; span=(9320, 9323), match='320'>,
 <re.Match object; span=(9966, 9968), match='27'>,
 <re.Match object; span=(9973, 9977), match='2020'>,
 <re.Match object; span=(10025, 10029), match='2019'>,
 <re.Match object; span=(10068, 10070), match='29'>,
 <re.Match object; span=(10075, 10079), match='2020'>,
 <re.Match object; span=(10128, 10132), match='2019'>,
 <re.Match object; span=(10212, 10214), match='19'>,
 <re.Match object; span=(10221, 10225), match='2021'>,
 <re.Match object; span=(10274, 10278), match='2019'>,
 <re.Match object; span=(10300, 10302), match='19'>,
 <re.Match object; span=(10304, 10308), match='2021'>,
 <re.Match object; span=(10332, 10334), match='18'>,
 <re.Match object; span=(10341, 10345), match='2021'>,
 <re.Match object; span=(10394, 10398), match='2019'>,
 <re.Match object; span=(10420, 10422), match='18'>,
 <re.Match object; span=(10424, 10428), match='2021'>,
 <re.Match object; span=(10452, 10454), match='17'>,
 <re.Match object; span=(10461, 10465), match='2021'>,
 <re.Match object; span=(10514, 10518), match='2019'>,
 <re.Match object; span=(10540, 10542), match='17'>,
 <re.Match object; span=(10544, 10548), match='2021'>,
 <re.Match object; span=(10572, 10574), match='16'>,
 <re.Match object; span=(10581, 10585), match='2021'>,
 <re.Match object; span=(10634, 10638), match='2019'>,
 <re.Match object; span=(10660, 10662), match='16'>,
 <re.Match object; span=(10664, 10668), match='2021'>,
 <re.Match object; span=(10692, 10694), match='15'>,
 <re.Match object; span=(10701, 10705), match='2021'>,
 <re.Match object; span=(10754, 10758), match='2019'>,
 <re.Match object; span=(10780, 10782), match='15'>,
 <re.Match object; span=(10784, 10788), match='2021'>,
 <re.Match object; span=(10831, 10833), match='18'>,
 <re.Match object; span=(10840, 10844), match='2021'>,
 <re.Match object; span=(10893, 10897), match='2019'>,
 <re.Match object; span=(10936, 10938), match='17'>,
 <re.Match object; span=(10945, 10949), match='2021'>,
 <re.Match object; span=(10998, 11002), match='2019'>,
 <re.Match object; span=(11131, 11133), match='16'>,
 <re.Match object; span=(11140, 11144), match='2021'>,
 <re.Match object; span=(11193, 11197), match='2019'>,
 <re.Match object; span=(11236, 11238), match='19'>,
 <re.Match object; span=(11245, 11249), match='2021'>,
 <re.Match object; span=(11298, 11302), match='2019'>,
 <re.Match object; span=(11341, 11343), match='15'>,
 <re.Match object; span=(11350, 11354), match='2021'>,
 <re.Match object; span=(11403, 11407), match='2019'>,
 <re.Match object; span=(11446, 11448), match='14'>,
 <re.Match object; span=(11455, 11459), match='2021'>,
 <re.Match object; span=(11508, 11512), match='2019'>,
 <re.Match object; span=(11551, 11553), match='18'>,
 <re.Match object; span=(11560, 11564), match='2020'>,
 <re.Match object; span=(11613, 11617), match='2019'>,
 <re.Match object; span=(11656, 11658), match='15'>,
 <re.Match object; span=(11663, 11667), match='2020'>,
 <re.Match object; span=(11767, 11769), match='13'>,
 <re.Match object; span=(11776, 11780), match='2021'>,
 <re.Match object; span=(11829, 11833), match='2019'>,
 <re.Match object; span=(11889, 11893), match='2021'>,
 <re.Match object; span=(11896, 11898), match='23'>,
 <re.Match object; span=(11907, 11911), match='2021'>,
 <re.Match object; span=(11914, 11916), match='38'>,
 <re.Match object; span=(11928, 11932), match='2021'>,
 <re.Match object; span=(11935, 11937), match='31'>,
 <re.Match object; span=(11948, 11952), match='2021'>,
 <re.Match object; span=(11955, 11957), match='34'>,
 <re.Match object; span=(11969, 11973), match='2020'>,
 <re.Match object; span=(11976, 11978), match='35'>,
 <re.Match object; span=(11990, 11994), match='2020'>,
 <re.Match object; span=(11997, 11999), match='38'>,
 <re.Match object; span=(12010, 12014), match='2020'>,
 <re.Match object; span=(12017, 12019), match='35'>,
 <re.Match object; span=(12032, 12036), match='2020'>,
 <re.Match object; span=(12039, 12041), match='33'>,
 <re.Match object; span=(12051, 12055), match='2020'>,
 <re.Match object; span=(12058, 12060), match='35'>,
 <re.Match object; span=(12068, 12072), match='2020'>,
 <re.Match object; span=(12075, 12077), match='37'>,
 <re.Match object; span=(12085, 12089), match='2020'>,
 <re.Match object; span=(12092, 12094), match='34'>,
 <re.Match object; span=(12101, 12105), match='2020'>,
 <re.Match object; span=(12108, 12110), match='32'>,
 <re.Match object; span=(12119, 12123), match='2020'>,
 <re.Match object; span=(12126, 12128), match='35'>,
 <re.Match object; span=(12137, 12141), match='2020'>,
 <re.Match object; span=(12144, 12146), match='35'>,
 <re.Match object; span=(12158, 12162), match='2020'>,
 <re.Match object; span=(12165, 12167), match='28'>,
 <re.Match object; span=(12178, 12182), match='2020'>,
 <re.Match object; span=(12185, 12187), match='20'>,
 <re.Match object; span=(12199, 12203), match='2019'>,
 <re.Match object; span=(12206, 12208), match='14'>,
 <re.Match object; span=(12220, 12224), match='2019'>,
 <re.Match object; span=(12227, 12228), match='6'>,
 <re.Match object; span=(12239, 12243), match='2019'>,
 <re.Match object; span=(12246, 12247), match='7'>,
 <re.Match object; span=(12260, 12264), match='2019'>,
 <re.Match object; span=(12267, 12269), match='12'>,
 <re.Match object; span=(12279, 12283), match='2019'>,
 <re.Match object; span=(12286, 12287), match='9'>,
 <re.Match object; span=(12295, 12299), match='2019'>,
 <re.Match object; span=(12302, 12304), match='10'>,
 <re.Match object; span=(12312, 12316), match='2019'>,
 <re.Match object; span=(12319, 12320), match='6'>,
 <re.Match object; span=(12327, 12331), match='2019'>,
 <re.Match object; span=(12334, 12336), match='10'>,
 <re.Match object; span=(12345, 12349), match='2019'>,
 <re.Match object; span=(12352, 12353), match='7'>,
 <re.Match object; span=(12362, 12366), match='2019'>,
 <re.Match object; span=(12369, 12370), match='6'>,
 <re.Match object; span=(12382, 12386), match='2019'>,
 <re.Match object; span=(12389, 12390), match='8'>,
 <re.Match object; span=(12401, 12405), match='2019'>,
 <re.Match object; span=(12408, 12409), match='7'>,
 <re.Match object; span=(12421, 12425), match='2018'>,
 <re.Match object; span=(12428, 12430), match='10'>,
 <re.Match object; span=(12442, 12446), match='2018'>,
 <re.Match object; span=(12449, 12450), match='6'>,
 <re.Match object; span=(12461, 12465), match='2018'>,
 <re.Match object; span=(12468, 12470), match='11'>,
 <re.Match object; span=(12483, 12487), match='2018'>,
 <re.Match object; span=(12490, 12492), match='18'>,
 <re.Match object; span=(12502, 12506), match='2018'>,
 <re.Match object; span=(12509, 12511), match='12'>,
 <re.Match object; span=(12519, 12523), match='2018'>,
 <re.Match object; span=(12526, 12528), match='12'>,
 <re.Match object; span=(12536, 12540), match='2018'>,
 <re.Match object; span=(12543, 12544), match='9'>,
 <re.Match object; span=(12551, 12555), match='2018'>,
 <re.Match object; span=(12558, 12560), match='11'>,
 <re.Match object; span=(12569, 12573), match='2018'>,
 <re.Match object; span=(12576, 12577), match='7'>,
 <re.Match object; span=(12586, 12590), match='2018'>,
 <re.Match object; span=(12593, 12594), match='8'>,
 <re.Match object; span=(12606, 12610), match='2018'>,
 <re.Match object; span=(12613, 12614), match='5'>,
 <re.Match object; span=(12625, 12629), match='2018'>,
 <re.Match object; span=(12632, 12633), match='8'>,
 <re.Match object; span=(12645, 12649), match='2017'>,
 <re.Match object; span=(12652, 12653), match='9'>,
 <re.Match object; span=(12665, 12669), match='2017'>,
 <re.Match object; span=(12672, 12674), match='14'>,
 <re.Match object; span=(12685, 12689), match='2017'>,
 <re.Match object; span=(12692, 12693), match='8'>,
 <re.Match object; span=(12706, 12710), match='2017'>,
 <re.Match object; span=(12713, 12714), match='3'>,
 <re.Match object; span=(12724, 12728), match='2017'>,
 <re.Match object; span=(12731, 12733), match='10'>,
 <re.Match object; span=(12741, 12745), match='2017'>,
 <re.Match object; span=(12748, 12750), match='14'>,
 <re.Match object; span=(12758, 12762), match='2017'>,
 <re.Match object; span=(12765, 12766), match='3'>,
 <re.Match object; span=(12773, 12777), match='2017'>,
 <re.Match object; span=(12780, 12782), match='10'>,
 <re.Match object; span=(12791, 12795), match='2017'>,
 <re.Match object; span=(12798, 12799), match='8'>,
 <re.Match object; span=(12808, 12812), match='2017'>,
 <re.Match object; span=(12815, 12817), match='11'>,
 <re.Match object; span=(12829, 12833), match='2017'>,
 <re.Match object; span=(12836, 12838), match='15'>,
 <re.Match object; span=(12849, 12853), match='2017'>,
 <re.Match object; span=(12856, 12858), match='15'>,
 <re.Match object; span=(12870, 12874), match='2016'>,
 <re.Match object; span=(12877, 12879), match='14'>,
 <re.Match object; span=(12891, 12895), match='2016'>,
 <re.Match object; span=(12898, 12900), match='11'>,
 <re.Match object; span=(12911, 12915), match='2016'>,
 <re.Match object; span=(12918, 12920), match='12'>,
 <re.Match object; span=(12933, 12937), match='2016'>,
 <re.Match object; span=(12940, 12942), match='14'>,
 <re.Match object; span=(12952, 12956), match='2016'>,
 <re.Match object; span=(12959, 12961), match='23'>,
 <re.Match object; span=(12969, 12973), match='2016'>,
 <re.Match object; span=(12976, 12978), match='14'>,
 <re.Match object; span=(12986, 12990), match='2016'>,
 <re.Match object; span=(12993, 12995), match='14'>,
 <re.Match object; span=(13002, 13006), match='2016'>,
 <re.Match object; span=(13009, 13011), match='12'>,
 <re.Match object; span=(13020, 13024), match='2016'>,
 <re.Match object; span=(13027, 13029), match='12'>,
 <re.Match object; span=(13038, 13042), match='2016'>,
 <re.Match object; span=(13045, 13047), match='15'>,
 <re.Match object; span=(13059, 13063), match='2016'>,
 <re.Match object; span=(13066, 13068), match='16'>,
 <re.Match object; span=(13079, 13083), match='2016'>,
 <re.Match object; span=(13086, 13088), match='20'>,
 <re.Match object; span=(13100, 13104), match='2015'>,
 <re.Match object; span=(13107, 13108), match='8'>,
 <re.Match object; span=(13120, 13124), match='2015'>,
 <re.Match object; span=(13127, 13129), match='12'>,
 <re.Match object; span=(13140, 13144), match='2015'>,
 <re.Match object; span=(13147, 13149), match='22'>,
 <re.Match object; span=(13162, 13166), match='2015'>,
 <re.Match object; span=(13169, 13171), match='12'>,
 <re.Match object; span=(13181, 13185), match='2015'>,
 <re.Match object; span=(13188, 13189), match='9'>,
 <re.Match object; span=(13197, 13201), match='2015'>,
 <re.Match object; span=(13204, 13206), match='16'>,
 <re.Match object; span=(13214, 13218), match='2015'>,
 <re.Match object; span=(13221, 13223), match='23'>,
 <re.Match object; span=(13230, 13234), match='2015'>,
 <re.Match object; span=(13237, 13238), match='8'>,
 <re.Match object; span=(13247, 13251), match='2015'>,
 <re.Match object; span=(13254, 13255), match='8'>,
 <re.Match object; span=(13264, 13268), match='2015'>,
 <re.Match object; span=(13271, 13273), match='15'>,

In [617]:
def scrape_data_2(current_url, verbose=0):
    r = requests.get(current_url)
    if r.status_code == 404:
        raise Exception("Error 404 accessing page!!")
    soup = BeautifulSoup(r.content)
    
    all_text = soup.get_text()
    # Remove all COVID-19 words to avoid getting number 19 accidentally
    # Removing commas to obtain the full digits
    all_text = all_text.replace('COVID-19', '')\
                        .replace('covid19', '')\
                        .replace(',', '')
    numbers_found = list(re.finditer('\d+', all_text))
    data_dict = {}
    
    cases_to_extract = cases_to_extract_new.copy()
    
    for txt in cases_to_extract:
        if verbose:
            print(f"[INFO] Finding {txt} ...")
            
        if 'kumulatif' in txt:
            text_pos = 'first'
            number_pos = 'end'
            # get the specific position of the text for cumulative case
            text_idx = int(txt.split("_")[1])
            cumulative_text = 'kes kumulatif'
            try:
                txt_found = list(re.finditer(cumulative_text, all_text))[text_idx]
            except Exception as e:
                print(f"Error obtaining {cumulative_text} !!")
                raise Exception(f"{e.__class__} occurred.")
        else:
            text_pos = 'end'
            number_pos = 'first'
            try:
                txt_found = list(re.finditer(txt, all_text))[0]
            except Exception as e:
                print(f"Error obtaining {txt} !!")
                raise Exception(f"{e.__class__} occurred.")
                
        if txt in ("JUMLAH KESELURUHAN", "kumulatif kes kematian"):
            text_pos = 'end'
        else:
            text_pos = 'first'
        
        if verbose:
            print(f"Text found: {txt_found}\n")

        matched_number = get_matched_number(txt_found, numbers_found, 
                                            verbose=verbose, text_pos=text_pos)
        correct_col_name = case_name_mapping[txt]
        data_dict[correct_col_name] = matched_number
    
    return data_dict

In [297]:
scrape_data_2(soup)

[INFO] Finding kes sembuh ...
[INFO] Finding kumulatif_0 ...
[INFO] Finding kes baharu ...
[INFO] Finding kumulatif_1 ...
[INFO] Finding kes import ...
[INFO] Finding kes tempatan ...
[INFO] Finding kes aktif ...
[INFO] Finding unit rawatan rapi ...
[INFO] Finding bantuan pernafasan ...
[INFO] Finding kematian ...
[INFO] Finding kumulatif_2 ...

{'Recovered': '1832',
 'Cumulative Recovered': '352395',
 'New Case': '2331',
 'Cumulative Case': '372859',
 'Imported Case': '12',
 'Local Case': '2319',
 'Active Case': '19094',
 'ICU': '225',
 'Ventilator': '92',
 'Death': '5',
 'Cumulative Death': '1370'}

# Scraping more days

In [4]:
month_translation = {"January": "januari",
                    "February": "februari",
                    "March": "mac",
                    "April": "april",
                    "May": "mei",
                    "June": "jun",
                    "July": "julai",
                    "August": "ogos",
                    "September": "september",
                    "October": "oktober",
                    "November": "november",
                    "December": "disember"}

In [5]:
def create_datetime(day, month, year):
    data_date = '-'.join([str(day).zfill(2), str(month).zfill(2), str(year)])
    data_datetime = datetime.strptime(data_date, '%d-%m-%Y')
    return data_datetime

In [6]:
def create_date_dict(dt):
    month_full = month_translation[dt.strftime('%B')]
    date_dict = {'format1': dt.strftime('%Y/%m/%d'), 'format2': f'{dt.day}-{month_full}-{dt.year}'}
    return date_dict

In [7]:
URL = "https://kpkesihatan.com/2021/04/17/kenyataan-akhbar-kpk-17-april-2021-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

In [8]:
def create_datetime_and_dict(day, month, year):
    data_datetime = create_datetime(day, month, year)
    date_dict = create_date_dict(data_datetime)
    return data_datetime, date_dict

In [9]:
cases_to_extract_old = ["pulih", "telah discaj", "JUMLAH KESELURUHAN", 
                        "jumlah kes positif", "Unit Rawatan Rapi", 
                        "bantuan pernafasan", "kes kematian", "kumulatif kes kematian"]

In [10]:
cases_to_extract_new = ["Kes sembuh", "kumulatif_0", "JUMLAH KESELURUHAN", 
                        "kumulatif_1", "Kes import", "Kes tempatan", 
                        "Kes aktif", "Unit Rawatan Rapi", 
                        "bantuan pernafasan", "Kes kematian", "kumulatif_2"]

In [11]:
column_names = ["Date", "Recovered", "Cumulative Recovered", "Imported Case", 
                "Local Case", "Active Case", "New Case", 
                "Cumulative Case", "ICU", "Ventilator", 
                "Death", "Cumulative Death", "URL"]

In [12]:
case_name_mapping = {"pulih": "Recovered", "telah discaj": "Cumulative Recovered",
                     "JUMLAH KESELURUHAN": "New Case", "jumlah kes positif": "Cumulative Case", 
                     "Unit Rawatan Rapi": "ICU", "bantuan pernafasan": "Ventilator", 
                     "kes kematian": "Death", "kumulatif kes kematian": "Cumulative Death",
                     "jumlah kumulatif kes positif": "Cumulative Case",
                     "Jumlah kes positif": "Cumulative Case",
                     # new text format mapping
                     "Kes sembuh": "Recovered", "kumulatif_0": "Cumulative Recovered", 
                     "kumulatif_1": "Cumulative Case", "Kes import": "Imported Case", 
                     "Kes tempatan": "Local Case", "Kes aktif": "Active Case",
                     "kumulatif_2": "Cumulative Death"}

In [13]:
# df = pd.DataFrame(columns=["Recovered Case", "Imported Case", "Local Case", "Active Case", "ICU", "Ventilator Support", "Death"])
df = pd.DataFrame(columns=column_names)
display(df.head())
df.columns

Empty DataFrame
Columns: [Date, Recovered, Cumulative Recovered, Imported Case, Local Case, Active Case, New Case, Cumulative Case, ICU, Ventilator, Death, Cumulative Death, URL]
Index: []

Index(['Date', 'Recovered', 'Cumulative Recovered', 'Imported Case',
       'Local Case', 'Active Case', 'New Case', 'Cumulative Case', 'ICU',
       'Ventilator', 'Death', 'Cumulative Death', 'URL'],
      dtype='object')

In [14]:
start_date_dt, start_date_dict = create_datetime_and_dict(day=27, month=3, year=2020)
# start_date_dt, start_date_dict = create_datetime_and_dict(day=10, month=6, year=2020)
end_date_dt, end_date_dict = create_datetime_and_dict(day=13, month=5, year=2020)
total_days = (end_date_dt - start_date_dt).days + 1  # inclusive of final date

In [15]:
start_date_dt, start_date_dict, total_days

(datetime.datetime(2020, 3, 27, 0, 0),
 {'format1': '2020/03/27', 'format2': '27-mac-2020'},
 48)

In [16]:
special_dates = ['16-Apr-2020', '13-May-2020', '28-May-2020', '18-Jun-2020']
special_dt = [datetime.strptime(i, '%d-%b-%Y') for i in special_dates]
special_urls = ["https://kpkesihatan.com/2020/04/16/kenyataan-akhbar-16-april-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/",
               "https://kpkesihatan.com/2020/05/13/kenyataan-akhbar-kpk-13-may-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/",
               "https://kpkesihatan.com/2020/05/28/situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/",
               "https://kpkesihatan.com/2020/06/18/kenyataan-akhbar-kpk-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"]

In [17]:
problem_url_1 = "https://kpkesihatan.com/2020/04/20/kenyataan-akhbar-kpk-20-april-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

In [18]:
problem_url = "https://kpkesihatan.com/2020/05/12/kenyataan-akhbar-kpk-12-mei-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"
problem_url_2 = "https://kpkesihatan.com/2020/06/04/kenyataan-akhbar-kpk-4-jun-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"
prob_3 = "https://kpkesihatan.com/2020/06/10/kenyataan-akhbar-kpk-10-jun-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

In [21]:
default_url = "https://kpkesihatan.com/{format1}/kenyataan-akhbar-kpk-{format2}-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

In [620]:
current_date, current_date_dict = start_date_dt, start_date_dict
new_format_flag = False

for day_number in tqdm(range(total_days), desc=f"Scraping data..."):
    # print(f"[INFO] Scraping data for {current_date.date()} ...")
    current_url = default_url.format(**current_date_dict)
    # print(current_url)
    if current_date in special_dt:
        current_url = special_urls[special_dt.index(current_date)]
    try:
        if not new_format_flag: 
            # still in old text format, scrape using old method
            data_dict = scrape_data(current_url)

        if not data_dict:
            # using new text format method
            new_format_flag = True
            print(f"[INFO] NEW text format on {current_date.date()}.")
            data_dict = scrape_data_2(current_url)

        # print(data_dict)

        # df.loc[current_date] = data_dict
        data_dict["Date"] = current_date
        data_dict["URL"] = current_url
        df = df.append(data_dict, ignore_index=True)        

        current_date += timedelta(days=1)
        current_date_dict = create_date_dict(current_date)
    except:
        print("[ERROR] Problem with", current_url)
        raise Exception(f"Error on {current_date.date()}")
    # print()
    # break

Scraping data...:  98%|██████████████████████████████████████████████████████████████▋ | 47/48 [00:31<00:00,  1.59it/s]

[INFO] Trying jumlah kumulatif kes positif

Scraping data...: 100%|████████████████████████████████████████████████████████████████| 48/48 [00:32<00:00,  1.48it/s]

In [621]:
df

,Date,Recovered,Cumulative Recovered,Imported Case,Local Case,Active Case,New Case,Cumulative Case,ICU,Ventilator,Death,Cumulative Death,URL
0,2020-03-27,44,259,NaN,NaN,NaN,130,2161,34,34,3,26,https://kpkesihatan.com/2020/03/27/kenyataan-a...
1,2020-03-28,61,320,NaN,NaN,NaN,159,2320,73,54,1,27,https://kpkesihatan.com/2020/03/28/kenyataan-a...
2,2020-03-29,68,388,NaN,NaN,NaN,150,2470,73,52,7,7,https://kpkesihatan.com/2020/03/29/kenyataan-a...
3,2020-03-30,91,479,NaN,NaN,NaN,156,2626,94,62,3,37,https://kpkesihatan.com/2020/03/30/kenyataan-a...
4,2020-03-31,58,537,NaN,NaN,NaN,140,2766,94,60,6,6,https://kpkesihatan.com/2020/03/31/kenyataan-a...
5,2020-04-01,108,645,NaN,NaN,NaN,2,2908,102,66,2,2,https://kpkesihatan.com/2020/04/01/kenyataan-a...
6,2020-04-02,122,767,NaN,NaN,NaN,208,3116,105,54,5,5,https://kpkesihatan.com/2020/04/02/kenyataan-a...
7,2020-04-03,60,827,NaN,NaN,NaN,217,3333,108,54,3,3,https://kpkesihatan.com/2020/04/03/kenyataan-a...
8,2020-04-04,88,915,NaN,NaN,NaN,150,3483,99,50,4,4,https://kpkesihatan.com/2020/04/04/kenyataan-a...
9,2020-04-05,90,1005,NaN,NaN,NaN,179,3662,99,48,4,4,https://kpkesihatan.com/2020/04/05/kenyataan-a...
10,2020-04-06,236,1241,NaN,NaN,NaN,131,3793,102,54,1,1,https://kpkesihatan.com/2020/04/06/kenyataan-a...
11,2020-04-07,80,1321,NaN,NaN,NaN,170,3963,92,50,1,1,https://kpkesihatan.com/2020/04/07/kenyataan-a...
12,2020-04-08,166,1487,NaN,NaN,NaN,156,4119,76,45,2,2,https://kpkesihatan.com/2020/04/08/kenyataan-a...
13,2020-04-09,121,1608,NaN,NaN,NaN,109,4228,72,43,2,2,https://kpkesihatan.com/2020/04/09/kenyataan-a...
14,2020-04-10,222,1830,NaN,NaN,NaN,118,4346,69,40,3,3,https://kpkesihatan.com/2020/04/10/kenyataan-a...
15,2020-04-11,165,1995,NaN,NaN,NaN,184,4530,72,38,3,3,https://kpkesihatan.com/2020/04/11/kenyataan-a...
16,2020-04-12,113,2108,NaN,NaN,NaN,153,4683,66,37,3,3,https://kpkesihatan.com/2020/04/12/kenyataan-a...
17,2020-04-13,168,2276,NaN,NaN,NaN,134,4817,66,36,1,1,https://kpkesihatan.com/2020/04/13/kenyataan-a...
18,2020-04-14,202,2478,NaN,NaN,NaN,170,4987,60,33,5,5,https://kpkesihatan.com/2020/04/14/kenyataan-a...
19,2020-04-15,169,2647,NaN,NaN,NaN,85,5072,56,32,1,1,https://kpkesihatan.com/2020/04/15/kenyataan-a...
20,2020-04-16,119,2766,NaN,NaN,NaN,110,5182,56,29,1,1,https://kpkesihatan.com/2020/04/16/kenyataan-a...
21,2020-04-17,201,2967,NaN,NaN,NaN,69,5251,51,26,2,2,https://kpkesihatan.com/2020/04/17/kenyataan-a...
22,2020-04-18,135,3102,NaN,NaN,NaN,54,5305,49,26,2,2,https://kpkesihatan.com/2020/04/18/kenyataan-a...
23,2020-04-19,95,3197,NaN,NaN,NaN,84,5389,46,26,1,1,https://kpkesihatan.com/2020/04/19/kenyataan-a...
24,2020-04-20,98,3295,NaN,NaN,NaN,36,5425,45,28,0,NaN,https://kpkesihatan.com/2020/04/20/kenyataan-a...
25,2020-04-21,54,3349,NaN,NaN,NaN,57,5482,43,27,3,3,https://kpkesihatan.com/2020/04/21/kenyataan-a...
26,2020-04-22,103,3452,NaN,NaN,NaN,50,5532,43,25,1,1,https://kpkesihatan.com/2020/04/22/kenyataan-a...
27,2020-04-23,90,3542,NaN,NaN,NaN,71,5603,42,21,2,2,https://kpkesihatan.com/2020/04/23/kenyataan-a...
28,2020-04-24,121,3663,NaN,NaN,NaN,88,5691,41,18,1,1,https://kpkesihatan.com/2020/04/24/kenyataan-a...
29,2020-04-25,99,3762,NaN,NaN,NaN,51,5742,36,16,2,2,https://kpkesihatan.com/2020/04/25/kenyataan-a...
30,2020-04-26,100,3862,NaN,NaN,NaN,38,5780,36,15,98,98,https://kpkesihatan.com/2020/04/26/kenyataan-a...
31,2020-04-27,95,3957,NaN,NaN,NaN,40,5820,37,17,1,1,https://kpkesihatan.com/2020/04/27/kenyataan-a...
32,2020-04-28,75,4032,NaN,NaN,NaN,31,5851,36,17,1,1,https://kpkesihatan.com/2020/04/28/kenyataan-a...
33,2020-04-29,55,4087,NaN,NaN,NaN,94,5945,40,18,100,100,https://kpkesihatan.com/2020/04/29/kenyataan-a...
34,2020-04-30,84,4171,NaN,NaN,NaN,57,6002,36,14,2,2,https://kpkesihatan.com/2020/04/30/kenyataan-a...
35,2020-05-01,39,4210,NaN,NaN,NaN,69,6071,37,14,1,1,https://kpkesihatan.com/2020/05/01/kenyataan-a...
36,2020-05-02,116,4326,NaN,NaN,NaN,105,6176,31,12,0,NaN,https://kpkesihatan.com/2020/05/02/kenyataan-a...
37,2020-05-03,87,4413,NaN,NaN,NaN,122,6298,27,13,2,2,https://kpkesihatan.com/2020/05/03/kenyataan-a...
38,2020-05-04,71,4484,NaN,NaN,NaN,55,6353,28,13,0,NaN,https://kpkesihatan.com/2020/05/04/kenyataan-a...
39,2020-05-05,83,4567,NaN,NaN,NaN,30,6383,24,8,1,1,https://kpkesihatan.com/2020/05/05/kenyataan-a...
40,2020-05-06,135,4702,NaN,NaN,NaN,45,6428,22,9,1,1,https://kpkesihatan.com/2020/05/06/kenyataan-a...
41,2020-05-07,74,4776,NaN,NaN,NaN,39,6467,19,8,0,NaN,https://kpkesihatan.com/2020/05/07/kenyataan-a...
42,2020-05-08,88,4864,NaN,NaN,NaN,68,6535,18,7,0,NaN,https://kpkesihatan.com/2020/05/08/kenyataan-a...
43,2020-05-09,65,4929,NaN,NaN,NaN,54,6589,18,6,1,1,https://kpkesihatan.com/2020/05/09/kenyataan-a...
44,2020-05-10,96,5025,NaN,NaN,NaN,67,6656,18,6,0,NaN,https://kpkesihatan.com/2020/05/10/kenyataan-a...
45,2020-05-11,88,5113,NaN,NaN,NaN,70,57,20,7,1,1,https://kpkesihatan.com/2020/05/11/kenyataan-a...
46,2020-05-12,110,5223,NaN,NaN,NaN,16,13,16,3,0,NaN,https://kpkesihatan.com/2020/05/12/kenyataan-a...
47,2020-05-13,58,5281,NaN,NaN,NaN,37,33,16,4,2,2,https://kpkesihatan.com/2020/05/13/kenyataan-a...

In [622]:
data_dict

{'Recovered': '58',
 'Cumulative Recovered': '5281',
 'New Case': '37',
 'Cumulative Case': '33',
 'ICU': '16',
 'Ventilator': '4',
 'Death': '2',
 'Cumulative Death': '2',
 'Imported Case': nan,
 'Local Case': nan,
 'Active Case': nan,
 'URL': 'https://kpkesihatan.com/2020/05/13/kenyataan-akhbar-kpk-13-may-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/',
 'Date': datetime.datetime(2020, 5, 13, 0, 0)}

## Test for debugging

In [19]:
case_name_mapping

{'pulih': 'Recovered',
 'telah discaj': 'Cumulative Recovered',
 'JUMLAH KESELURUHAN': 'New Case',
 'jumlah kes positif': 'Cumulative Case',
 'Unit Rawatan Rapi': 'ICU',
 'bantuan pernafasan': 'Ventilator',
 'kes kematian': 'Death',
 'kumulatif kes kematian': 'Cumulative Death',
 'jumlah kumulatif kes positif': 'Cumulative Case',
 'Jumlah kes positif': 'Cumulative Case',
 'Kes sembuh': 'Recovered',
 'kumulatif_0': 'Cumulative Recovered',
 'kumulatif_1': 'Cumulative Case',
 'Kes import': 'Imported Case',
 'Kes tempatan': 'Local Case',
 'Kes aktif': 'Active Case',
 'kumulatif_2': 'Cumulative Death'}

In [56]:
test_date_dt, test_date_dict = create_datetime_and_dict(day=20, month=4, year=2020)

In [21]:
default_url = "https://kpkesihatan.com/{format1}/kenyataan-akhbar-kpk-{format2}-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

In [57]:
current_url = default_url.format(**test_date_dict)
current_url

'https://kpkesihatan.com/2020/04/20/kenyataan-akhbar-kpk-20-april-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/'

In [23]:
scrape_data(current_url, verbose=1)

[INFO] Finding pulih ...
Text found: <re.Match object; span=(738, 743), match='pulih'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2']
Distance list: [712, 705, 653, 249, 242, 190, 145, 142, 18, 144, 154, 157, 243, 250, 261, 264, 293]

[INFO] Finding telah discaj ...
Text found: <re.Match object; span=(840, 852), match='telah discaj'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2']
Distance list: [814, 807, 755, 351, 344, 292, 247, 244, 120, 42, 52, 55, 141, 148, 159, 162, 191]

[INFO] Finding JUMLAH KESELURUHAN ...
Text found: <re.Match object; span=(8061, 8079), match='JUMLAH KESELURUHAN'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2', '8338', '1206', '2', '1', '1', '8303', '5', '1', '118', '1', '42', '118', '824', '61', '15', '2020', '10', '2020', '7', '03', '1', '18', '2020', '31', '2020', '14', '5498', '58', '392', '7', '738', '4', '2020', '5', '2020', '12', '2020', '8', '5904', '68', '13', '2020', '9', '2020', '25251', '231', '738', '65', '75', '30', '3', '3', '3', '1', '10', '2020', '5', '00', '10', '2020', '12', '00', '0', '18', '0', '96', '0', '121', '0', '256', '0', '1971', '0', '911', '0', '235', '1', '1', '677', '0', '363', '0', '111', '0', '156', '0', '355', '1', '556', '0', '2398', '0', '97', '0', '17', '2', '1', '8338', '2019', '19', '10', '2020', '39', '7014']
Distance list: [8053, 8046, 7994, 7590, 7583, 7531, 7486, 7483, 7359, 7197, 7187, 7184, 7098, 7091, 7080, 7077, 7048, 6833, 6765, 6679, 6643, 6447, 6265, 6229, 6049, 5949, 5940, 5938, 5876, 5864, 5813, 5607, 5600, 5561, 5554, 5545, 5543, 4841, 4830, 4823, 4809, 4802, 4777, 4761, 4745, 4686, 4682, 4611, 4551, 4545, 4501, 4495, 4481, 4474, 4449, 4405, 4389, 4367, 4360, 4346, 4340, 4335, 4290, 4270, 4092, 4080, 3942, 2035, 2030, 1845, 955, 481, 474, 467, 465, 402, 395, 386, 383, 297, 295, 284, 282, 264, 262, 250, 248, 233, 231, 208, 206, 193, 191, 179, 176, 173, 160, 158, 141, 139, 124, 122, 110, 108, 94, 92, 68, 66, 44, 42, 25, 23, 1, 4, 7, 141, 153, 236, 244, 306, 376]

[INFO] Finding jumlah kes positif ...
[INFO] Trying jumlah kumulatif kes positif
[INFO] Trying Jumlah kes positif
Text found: <re.Match object; span=(1198, 1216), match='Jumlah kes positif'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2', '8338', '1206', '2', '1']
Distance list: [1172, 1165, 1113, 709, 702, 650, 605, 602, 478, 316, 306, 303, 217, 210, 199, 196, 167, 48, 116, 202, 238]

[INFO] Finding Unit Rawatan Rapi ...
Text found: <re.Match object; span=(1884, 1901), match='Unit Rawatan Rapi'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2', '8338', '1206', '2', '1', '1', '8303', '5', '1', '118', '1', '42', '118', '824', '61']
Distance list: [1858, 1851, 1799, 1395, 1388, 1336, 1291, 1288, 1164, 1002, 992, 989, 903, 896, 885, 882, 853, 638, 570, 484, 448, 252, 70, 34, 146, 246, 255, 257, 319, 331, 382]

[INFO] Finding bantuan pernafasan ...
Text found: <re.Match object; span=(1955, 1973), match='bantuan pernafasan'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2', '8338', '1206', '2', '1', '1', '8303', '5', '1', '118', '1', '42', '118', '824', '61']
Distance list: [1929, 1922, 1870, 1466, 1459, 1407, 1362, 1359, 1235, 1073, 1063, 1060, 974, 967, 956, 953, 924, 709, 641, 555, 519, 323, 141, 105, 75, 175, 184, 186, 248, 260, 311]

[INFO] Finding kes kematian ...
Text found: <re.Match object; span=(2038, 2050), match='kes kematian'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2', '8338', '1206', '2', '1', '1', '8303', '5', '1', '118', '1', '42', '118', '824', '61']
Distance list: [2012, 2005, 1953, 1549, 1542, 1490, 1445, 1442, 1318, 1156, 1146, 1143, 1057, 1050, 1039, 1036, 1007, 792, 724, 638, 602, 406, 224, 188, 8, 92, 101, 103, 165, 177, 228]

[INFO] Finding kumulatif kes kematian ...
Text found: <re.Match object; span=(2078, 2100), match='kumulatif kes kematian'>

Numbers found so far:               ['10', '2020', '2019', '10', '2020', '2019', '10', '2020', '39', '7014', '84', '1', '10', '2020', '12', '00', '2', '8338', '1206', '2', '1', '1', '8303', '5', '1', '118', '1', '42', '118', '824', '61', '15']
Distance list: [2052, 2045, 1993, 1589, 1582, 1530, 1485, 1482, 1358, 1196, 1186, 1183, 1097, 1090, 1079, 1076, 1047, 832, 764, 678, 642, 446, 264, 228, 48, 52, 61, 63, 125, 137, 188, 394]

{'Recovered': '39',
 'Cumulative Recovered': '7014',
 'New Case': '2',
 'Cumulative Case': '8338',
 'ICU': '5',
 'Ventilator': '1',
 'Death': '1',
 'Cumulative Death': '1',
 'Imported Case': nan,
 'Local Case': nan,
 'Active Case': nan}

In [75]:
r = requests.get(current_url)
if r.status_code == 404:
    raise Exception("Error 404 accessing page!!")
soup = BeautifulSoup(r.content)

all_text = soup.get_text()
all_text = all_text.replace('COVID-19', '')\
                    .replace('covid19', '')\
                    .replace(',', '')

In [109]:
tag_list = [tags.text for tags in soup.find_all("tr") if "JUMLAH KESELURUHAN" in tags.text]

In [110]:
tag_list

['\nJUMLAH KESELURUHAN\n36\n5,425\n']

In [594]:
list(re.finditer('Jumlah kes positif', all_text))

In [43]:
sentence_list = [sentence + '.' for sentence in all_text.split('.') if 'kes yang telah pulih' in sentence]
sentence_list

['\n\n\n\uf400\n\n\n\n\n\n\n\n\nCommunicable disease\nKenyataan Akhbar KPK 10 Jun 2020 -Situasi Semasa Jangkitan Penyakit Coronavirus 2019 () di Malaysia \nBy DG of Health on June 10 2020 \n\nSTATUS TERKINI KES DISAHKAN  YANG TELAH PULIH\nKementerian Kesihatan Malaysia (KKM) ingin memaklumkan bahawa terdapat 39 kes yang telah pulih dan dibenarkan discaj pada hari ini.',
 ' Jumlah kumulatif kes yang telah pulih sepenuhnya dari  dan telah discaj daripada wad adalah sebanyak 7014 kes (84.']

In [54]:
x = 'pulih'
txt_x = rf"haha {x} 123."
txt_x

'haha pulih 123.'

In [117]:
txt = 'kematian'
sentence_list = list(re.finditer(rf"([^.\n]*?{txt}[^.]*\.)", all_text))
sentence_list

[<re.Match object; span=(1571, 1756), match='Sukacita dimaklumkan daripada maklumat terkini ya>,
 <re.Match object; span=(1756, 1839), match=' Oleh itu sehingga pukul 12 tengah hari 20 April >,
 <re.Match object; span=(3530, 3740), match=' Terdapat lima (5) kes kematian  dari kawasan ini>]

In [40]:
sentence_list[0]

'\n\n\n\uf400\n\n\n\n\n\n\n\n\nCommunicable disease\nKenyataan Akhbar KPK 10 Jun 2020 -Situasi Semasa Jangkitan Penyakit Coronavirus 2019 () di Malaysia \nBy DG of Health on June 10 2020 \n\nSTATUS TERKINI KES DISAHKAN  YANG TELAH PULIH\nKementerian Kesihatan Malaysia (KKM) ingin memaklumkan bahawa terdapat 39 kes yang telah pulih dan dibenarkan discaj pada hari ini.'

In [433]:
df.loc[test_date_dt] = scrape_data(current_url)
df

,Recovered,Cumulative Recovered,Imported Case,Local Case,Active Case,New Case,Cumulative Case,ICU,Ventilator,Death,Cumulative Death
2020-04-20,98,3295,NaN,NaN,NaN,36,5425,45,28,0,NaN

In [379]:
cases_to_extract_old

['pulih',
 'telah discaj',
 'JUMLAH KESELURUHAN',
 'jumlah kes positif',
 'Unit Rawatan Rapi',
 'bantuan pernafasan',
 'kematian',
 'kumulatif kes kematian']

In [396]:
r = requests.get(current_url)
soup = BeautifulSoup(r.content)
all_text = soup.get_text()

'\n\n\n\n\nKenyataan Akhbar KPK 20 April 2020 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia – From the Desk of the Director-General of Health Malaysia\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMenu\nHome\nAbout\nPress\nPress response\nBlog\nSpeech\n \n\n\n\n\n\n \n\n\t\t\t\t\t\tFrom the Desk of the Director-General of Health Malaysia\t\t\t\t\t\n\n\n\t\t\t\t\tA Nation working together for better Health\t\t\t\t\n\n\n\n\nSearch for...\n\n\n\uf400\n\n\n\n\n\n\n\n\nCommunicable disease\nKenyataan Akhbar KPK 20 April 2020 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \nBy DG of Health on April 20, 2020 \n\nSTATUS TERKINI KES DISAHKAN COVID-19 YANG TELAH PULIH\nKementerian Kesihatan Malaysia (KKM) ingin memaklumkan bahawa terdapat 98 kes yang telah pulih dan dibenarkan discaj pada hari ini. Ini menjadikan jumlah kumulatif kes yang telah pulih sepenuhnya dari COVID-19 dan telah discaj daripada wad adalah sebanyak 3,295 kes (60.74 peratus daripada jumlah keseluruhan kes). Seperti dilihat beberapa hari ini, bilangan kes yang didiscaj hari ini adalah melebihi bilangan kes baharu yang dilaporkan.\n\nSTATUS TERKINI KES COVID-19 DI MALAYSIA.\nSehingga 20 April 2020 pukul 12:00 tengah hari, terdapat 36 kes baharu yang telah dilaporkan. Ini menjadikan jumlah kes positif COVID-19 di Malaysia adalah sebanyak 5,425 kes. Ini merupakan bilangan kes harian yang paling rendah direkod setakat ini. Oleh itu, jumlah kes aktif dengan kebolehjangkitan COVID-19 adalah 2,041 kes.\nSehingga kini, seramai\xa045 kes positif\xa0COVID-19\xa0sedang dirawat di Unit Rawatan Rapi (ICU).\xa0Daripada jumlah tersebut, 28 kes memerlukan bantuan pernafasan.\nSukacita dimaklumkan, daripada maklumat terkini yang telah dilaporkan ke\xa0Crisis Preparedness and Response Centre\xa0(CPRC) Kebangsaan, tiada sebarang kes kematian yang terbaharu setakat ini. Oleh itu, sehingga pukul 12 tengah hari 20 April 2020, jumlah kematian kekal 89 kes.\nPenurunan jumlah kes harian yang dapat dilihat sejak kebelakangan ini adalah hasil daripada tindakan proaktif dan agresif dalam mengesan kes yang dijalankan terutama dalam tempoh dua (2) minggu yang lalu.\nNamun demikian, jumlah atau bilangan kes baharu mungkin boleh meningkat kembali dalam tempoh dua (2) minggu akan datang memandangkan aktiviti pengesanan kes masih giat dijalankan terutamanya ke atas rakyat Malaysia yang baru pulang dari luar negara dan di lokaliti yang terlibat di bawah Perintah Kawalan Pergerakan Diperketatkan (PKPD).\n\nSTATUS TERKINI PERINTAH PERGERAKAN KAWALAN DIPERKETATKAN (PKPD)\nPerintah Kawalan Pergerakan Diperketatkan telah mula dilaksanakan di beberapa lokasi yang berisiko tinggi sejak 27 Mac 2020. Langkah ini dapat membantu KKM dalam menjalankan aktiviti pendekatan tertumpu (targeted approach) untuk membendung penularan jangkitan COVID-19 seperti bancian penduduk, Active Case Detection (ACD) rumah ke rumah, pengambilan sampel, aktiviti disinfeksi berkaitan dan promosi kesihatan. Bagi kes yang disahkan positif COVID-19, mereka akan diasingkan dan diberi rawatan.\nSehingga 20 April 2020, Kerajaan telah mengeluarkan sebanyak enam (6) arahan PKPD secara berperingkat melibatkan sebanyak sepuluh (10) lokaliti iaitu:\n\nBandar Baru Ibrahim Majid;\nKawasan di sekitar Bandar Baru Ibrahim Majid;\nKampung Sungai Lui;\nKawasan di sekitar Kampung Sungai Lui;\nMenara Plaza City One;\nMalayan Mansion;\nSelangor Mansion;\nMasjid India dan kawasan sekitarnya;\nTerkini, di Pusat Bandar Utara, Kuala Lumpur; dan\nKawasan sekitar Pasar Borong Kuala Lumpur\n\nHasil daripada pelaksanaan PKPD ini, sebanyak 13,277 sampel ujian pengesanan COVID-19 telah diambil di mana sebanyak 796 kes telah dikesan positif COVID-19. Terdapat lima (5) kes kematian COVID-19 dari kawasan ini iaitu kes ke-1114, kes ke-2627, kes ke-1649 dan kes ke-1251 dari Bandar Baru Ibrahim Majid dan kawasan di sekitarnya, serta kes ke-1906 dari Menara Plaza City One.\nNASIHAT KESIHATAN BERKAITAN COVID-19\nSelaras dengan tren penurunan kes jangkitan COVID-19, KKM ingin menegaskan dan mengingatkan seluruh Rakyat Malaysia untuk tidak mengambil mudah serta merasa selesa dengan keberkesanan pengekangan jangkitan COVID-19 yang dicapai setakat ini.\nPerjuangan kita masih berbaki dan pastinya masih belum tamat. Teruskan usaha membantu Kerajaan dalam memastikan rantaian jangkitan COVID-19 ini dapat diputuskan dengan:\n\nPatuh kepada Perintah Kawalan Pergerakan.\nMengamalkan tahap kebersihan yang optimum pada setiap masa, seperti kerap mencuci tangan dengan menggunakan air dan sabun\nMengamalkan jarak sosial selamat (social distancing) sekurang-kurangnya 1 meter dari orang lain.\n\nSekian, terima kasih.\n\nDATUK DR. NOOR HISHAM ABDULLAH\nKETUA PENGARAH KESIHATAN MALAYSIA\n\xa0\n20 April 2020 @ 5.00 petang\n\xa0\xa0\nBILANGAN KES COVID-19 MENGIKUT NEGERI DI MALAYSIA\n(SEHINGGA 20 APRIL 2020, JAM 12:00 TENGAH HARI)\n\n\n\nNEGERI\nBILANGAN KES BAHARU\nBILANGAN KES KUMULATIF\n\n\nPERLIS\n0\n18\n\n\nKEDAH\n0\n94\n\n\nPULAU PINANG\n0\n119\n\n\nPERAK\n0\n252\n\n\nSELANGOR\n2\n1,345\n\n\nNEGERI SEMBILAN\n3\n408\n\n\nMELAKA\n2\n187\n\n\nJOHOR\n2\n644\n\n\nPAHANG\n2\n271\n\n\nTERENGGANU\n0\n109\n\n\nKELANTAN\n0\n155\n\n\nSABAH\n2\n308\n\n\nSARAWAK\n6\n414\n\n\nW.P. KUALA LUMPUR\n4\n1,008\n\n\nW.P. PUTRAJAYA\n13\n77\n\n\nW.P. LABUAN\n0\n16\n\n\nJUMLAH KESELURUHAN\n36\n5,425\n\n\n\n\xa0\n\nPRESS STATEMENT\nMINISTRY OF HEALTH MALAYSIA\n\nUPDATES ON THE CORONAVIRUS DISEASE 2019 (COVID-19) \nSITUATION IN MALAYSIA\n\nCurrent Status of Confirmed COVID-19 Cases Who Have Recovered\n20 April 2020 – The Ministry of Health (MOH) would like to inform that 98 cases have fully recovered and discharged well today. Cumulatively, 3,295 confirmed COVID-19 cases have fully recovered and discharged well (60.74% of total cumulative cases). As seen lately, the number of cases discharged well is more than the number of additional cases reported today.\n\nCurrent Situation of COVID-19 in Malaysia\n20 April 2020, 12 pm – A total of 36 additional confirmed COVID-19 cases were reported to the National Crisis Preparedness and Response Centre (CPRC) MOH today. Cumulatively there are now 5,425 confirmed COVID-19 cases in Malaysia. This is the lowest number of daily additional cases recorded of late. Therefore, there are currently 2,041 active and infective COVID-19 cases.\nCurrently, 45 confirmed COVID-19 cases are receiving treatment in intensive care units (ICU), and of these, 28 cases are on ventilation support.\nNo additional COVID-19 death was reported to the National CPRC, MOH. Hence, the cumulative number of deaths remains at 89 cases.\nThe recent decrease in the number of additional confirmed COVID-19 cases reported is the result of proactive and aggressive case detection activities, particularly within the past two weeks.\nNevertheless, the total or number of additional cases may rebound in the next two weeks as case detection activities are still being aggressively carried out, especially for Malaysians returning from overseas and for individuals in the Enhanced Movement Control Order (EMCO) localities.\n\nCurrent Status of Implementation of the Enhanced Movement Control Order\nThe EMCO has been implemented in several high-risk localities since 27 March 2020. This measure will assist MOH in implementing the targeted approach to reduce and prevent further spread of COVID-19, which includes population census, house-to-house active case detection, sampling, disinfection activities and health promotion. For individuals found to be positive for COVID-19, they will be isolated and treated.\nAs of 20 April 2020, the Government has issued in stages six EMCO directives involving ten (10) localities:\n\nBandar Baru Ibrahim Majid\nAreas surrounding Bandar Baru Ibrahim Majid\nKampung Sungai Lui\nAreas surrounding Kampung Sungai Lui;\nPlaza City One Tower\nMalayan Mansion\nSelangor Mansion\nMasjid India and surrounding areas\nPusat Bandar Utara, Kuala Lumpur (most recent)\nAreas surrounding Pasar Borong, Kuala Lumpur (most recent)\n\nThrough the implementation of the EMCO, a total of 13,277 COVID-19 test samples have been taken, of which 796 were confirmed COVID-19 cases. There were five (5) COVID-19 deaths from these localities, i.e. Cases 1,114, 2,627, 1,649 and 1,251 from Bandar Baru Ibrahim Majid and its surrounding areas; and Case 1,906 from Plaza City One Tower.\nHealth Advisory on COVID-19\nIn line with the reduction trend of additional COVID-19 cases, MOH urges and reminds all Malaysians not to be complacent or satisfied with the effectiveness of COVID-19 prevention and control achieved thus far.\nThis is still an ongoing struggle and challenge, and certainly the end is not yet in sight. MOH urges the public to continue to assist the Government to ensure that the COVID-19 infection transmission chain can be broken by:\n\nComplying to the Movement Control Order\nMaintaining a high level of personal hygiene at all times, such as regular hand washing with water and soap\nPracticing social distancing of at least 1 metre from others\n\nThank you.\n\nDatuk Dr Noor Hisham Abdullah\nDirector General of Health Malaysia\n\n20 April 2020 @ 5.00 pm\n\xa0\nNumber of Confirmed COVID-19 Cases in Malaysia, by States\n(Cumulative, as of 20 April 2020, 12 pm)\n\n\n\nState\nNo. of New Cases\nCumulative\n\n\nPerlis\n0\n18\n\n\nKedah\n0\n94\n\n\nPulau Pinang\n0\n119\n\n\nPerak\n0\n252\n\n\nSelangor\n2\n1,345\n\n\nNegeri Sembilan\n3\n408\n\n\nMelaka\n2\n187\n\n\nJohor\n2\n644\n\n\nPahang\n2\n271\n\n\nTerengganu\n0\n109\n\n\nKelantan\n0\n155\n\n\nSabah\n2\n308\n\n\nSarawak\n6\n414\n\n\nWP Kuala Lumpur\n4\n1,008\n\n\nWP Putrajaya\n13\n77\n\n\nWP Labuan\n0\n16\n\n\nTotal\n36\n5,425\n\n\n\n\n\nShare this:Click to share on Facebook (Opens in new window)Click to share on Twitter (Opens in new window)Click to share on WhatsApp (Opens in new window)Click to share on Telegram (Opens in new window)Click to share on LinkedIn (Opens in new window)Click to email this to a friend (Opens in new window)Click to print (Opens in new window)MoreClick to share on Tumblr (Opens in new window)Click to share on Pinterest (Opens in new window)Click to share on Skype (Opens in new window)Like this:Like Loading...\n\nRelated\n \n\nCategories: Communicable disease, Crisis & Disaster, Press \nTagged as: COVID-19 \n\n\n\nPost navigation\n\nKenyataan Akhbar KPK 19 April 2020 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\n\n\nKenyataan Akhbar KPK 21 April 2020 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\n\n\n\n\n\n\n\nSearch for...\n\n\n\uf400\n\n\n\nRecent Posts\n\n\nKenyataan Akhbar KPK 19 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\nApril 19, 2021\n\n\nKenyataan Akhbar KPK 18 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\nApril 18, 2021\n\n\nKenyataan Akhbar KPK 17 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\nApril 17, 2021\n\n\nKenyataan Akhbar KPK 16 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\nApril 16, 2021\n\n\nKenyataan Akhbar KPK 15 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia\nApril 15, 2021\n\n\nTop Posts & Pages \nKenyataan Akhbar KPK 19 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nKenyataan Akhbar KPK 18 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nKenyataan Akhbar KPK 17 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nSoalan Lazim (FAQ) Penyakit Tangan, Kaki dan Mulut (Hand, Foot and Mouth Disease, HFMD) \n\nKenyataan Akhbar KPK 16 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nKenyataan Akhbar KPK 19 April 2020 - Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nKenyataan Akhbar KPK 15 Mei 2020 - Pemberian Perkhidmatan Imunisasi Kepada Murid Sekolah Di Klinik Kesihatan \n\nKenyataan Akhbar KPK 15 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nKenyataan Akhbar KPK 14 April 2021 – Situasi Semasa Jangkitan Penyakit Coronavirus 2019 (COVID-19) di Malaysia \n\nKenyataan Akhbar KPK 24 November 2020 - Pelaksanaan Pemberian Vaksin Pneumokokal Di Bawah Program Imunisasi Kebangsaan Untuk Kanak-Kanak \nArchives Archives\n\nSelect Month\n April 2021 \xa0(23)\n March 2021 \xa0(38)\n February 2021 \xa0(31)\n January 2021 \xa0(34)\n December 2020 \xa0(35)\n November 2020 \xa0(38)\n October 2020 \xa0(35)\n September 2020 \xa0(33)\n August 2020 \xa0(35)\n July 2020 \xa0(37)\n June 2020 \xa0(34)\n May 2020 \xa0(32)\n April 2020 \xa0(35)\n March 2020 \xa0(35)\n February 2020 \xa0(28)\n January 2020 \xa0(20)\n December 2019 \xa0(14)\n November 2019 \xa0(6)\n October 2019 \xa0(7)\n September 2019 \xa0(12)\n August 2019 \xa0(9)\n July 2019 \xa0(10)\n June 2019 \xa0(6)\n May 2019 \xa0(10)\n April 2019 \xa0(7)\n March 2019 \xa0(6)\n February 2019 \xa0(8)\n January 2019 \xa0(7)\n December 2018 \xa0(10)\n November 2018 \xa0(6)\n October 2018 \xa0(11)\n September 2018 \xa0(18)\n August 2018 \xa0(12)\n July 2018 \xa0(12)\n June 2018 \xa0(9)\n May 2018 \xa0(11)\n April 2018 \xa0(7)\n March 2018 \xa0(8)\n February 2018 \xa0(5)\n January 2018 \xa0(8)\n December 2017 \xa0(9)\n November 2017 \xa0(14)\n October 2017 \xa0(8)\n September 2017 \xa0(3)\n August 2017 \xa0(10)\n July 2017 \xa0(14)\n June 2017 \xa0(3)\n May 2017 \xa0(10)\n April 2017 \xa0(8)\n March 2017 \xa0(11)\n February 2017 \xa0(15)\n January 2017 \xa0(15)\n December 2016 \xa0(14)\n November 2016 \xa0(11)\n October 2016 \xa0(12)\n September 2016 \xa0(14)\n August 2016 \xa0(23)\n July 2016 \xa0(14)\n June 2016 \xa0(14)\n May 2016 \xa0(12)\n April 2016 \xa0(12)\n March 2016 \xa0(15)\n February 2016 \xa0(16)\n January 2016 \xa0(20)\n December 2015 \xa0(8)\n November 2015 \xa0(12)\n October 2015 \xa0(22)\n September 2015 \xa0(12)\n August 2015 \xa0(9)\n July 2015 \xa0(16)\n June 2015 \xa0(23)\n May 2015 \xa0(8)\n April 2015 \xa0(8)\n March 2015 \xa0(15)\n February 2015 \xa0(11)\n January 2015 \xa0(12)\n December 2014 \xa0(9)\n November 2014 \xa0(12)\n October 2014 \xa0(12)\n September 2014 \xa0(39)\n August 2014 \xa0(41)\n July 2014 \xa0(2)\n\n\nCategory CloudBlog Communicable disease Crisis & Disaster Dengue Dental Drug Safety Ebola Environmental Health Food Food Safety Healthcare Transformation Healthy eating Healthy living Hospital Services Medical profession MH17 Non-communicable disease Patient Safety Pharmacy Press Press response Primary Care & Community Research & Publication Smoking Speech Uncategorized vaccine WHO Zika \nApril 2020\n\n\nM\nT\nW\nT\nF\nS\nS\n\n\n\n\n\xa012345\n\n\n6789101112\n\n\n13141516171819\n\n\n20212223242526\n\n\n27282930\n\xa0\n\n\n\n« Mar\n\xa0\nMay »\nFB Noor Hisham Abdullah \n\nFB Noor Hisham Abdullah\n\nFollow me on Twitter @DGHishamMy Tweets\nFollow From the Desk of the Director-General of Health Malaysia on WordPress.com\n\nSubscribe to Blog via Email\n\nEnter your email address to subscribe to this blog and receive notifications of new posts by email.\n\n\n\t\t\t\t\t\tJoin 903,711 other followers\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\tEmail Address:\t\t\t\t\t\n \n\n\n\n\n\n\n \n\t                    Subscribe                    \n\n\nBlog Stats \n23,656,564 hits\n\n\n\n\n\nHome\nAbout\nPress\nPress response\nBlog\nSpeech\n \n\n\nTop categories:  Press cosmetics \n\nWebsite Powered by WordPress.com.\n\t\t\t\n\t\t\n\n\n\n\n\n\n\n\n\n\n\n\nAdd your thoughts here... (optional)\n\nPost to\n\n\n\nCancel\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tYou must be logged in to post a comment.\t\t\t\t\t\t\t\t\t\t\t\n\n\n\n\nLoading Comments...\n\n\n\n\nComment\n\n\n\n\n\n\n\n\n\n\n\n\n\n×\n\n\n\n\nSend to Email Address\n\nYour Name\n\nYour Email Address\n\n\n\n\n\nCancel\n\n\t\t\t\tPost was not sent - check your email addresses!\t\t\t\n\n\t\t\t\tEmail check failed, please try again\t\t\t\n\n\t\t\t\tSorry, your blog cannot share posts by email.\t\t\t\n\n\n\n\n\n\n\n\n\n\n\n\n \n<span>%d</span> bloggers like this:\n \n\n\n\n\n'

# Archive

In [222]:
# def scrape_data_2(soup):
#     data_list = []
    
#     for txt in cases_to_extract_old:
#         # print(f"[INFO] Finding {txt} ...")
#         txt_found = soup.find(string=re.compile(txt))
#         int_found = np.nan
#         print(txt_found)

#         if txt_found:
#             txt_split = txt_found.split()
#             if 'COVID-19' in txt_split:
#                 txt_split.remove('COVID-19')
                
#             txt_found = ' '.join(txt_split)
#             int_found = re.findall(r'[\d]+', txt_found)
#             if len(int_found) == 1:
#                 int_found = int(int_found[0])
#             elif len(int_found) > 1:
#                 distance_list = []
#                 for number in int_found:
#                     distance = abs(re.search(number, txt_found).span()[0]\
#                                    - re.search(txt, txt_found).span()[0])
#                     distance_list.append(distance)
#                 min_dist = min(distance_list)
#                 min_index = distance_list.index(min_dist)
#                 int_found = int_found[min_index]
#             else:
#                 int_found = np.nan
#             # print(int_found)
#         else:
#             int_found = np.nan
#         data_list.append(int_found)
#         # break
#         # print()
#     return data_list

# Scrape table for the data of each state

In [2]:
# current_url = "https://kpkesihatan.com/2020/07/08/kenyataan-akhbar-kpk-8-julai-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"
current_url = "https://kpkesihatan.com/2020/12/20/kenyataan-akhbar-kpk-20-disember-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"
# current_url = "https://kpkesihatan.com/2020/12/21/kenyataan-akhbar-kpk-21-disember-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"
# current_url = "https://kpkesihatan.com/2021/02/10/kenyataan-akhbar-kpk-10-februari-2021-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

r = requests.get(current_url)
if r.status_code == 404:
    raise Exception("Error 404 accessing page!!")

df = pd.read_html(r.content, match='JUMLAH KESELURUHAN', header=0)[-1]
df

ImportError: lxml not found, please install it

In [3]:
current_date = datetime.today()
current_date

datetime.datetime(2021, 4, 22, 22, 32, 25, 116029)

In [106]:
df2 = df.copy()
df2 = df2.set_index('NEGERI')
df2 = df2.T
df2['Date'] = current_date
df2

NEGERI,SABAH,SELANGOR,WP KUALA LUMPUR,NEGERI SEMBILAN,JOHOR,PULAU PINANG,KEDAH,PERAK,WP LABUAN,SARAWAK,PAHANG,MELAKA,KELANTAN,TERENGGANU,WP PUTRAJAYA,PERLIS,JUMLAH KESELURUHAN,Date
BILANGAN KES BAHARU *( ),196,441 (1),284,169,156,30,6,10,27,3 (2),12,1,1,2,2,0,"1,340 (3)",2021-04-22 18:30:55.264805
BILANGAN KES KUMULATIF,34478,24465,10188,7045,3143,2960,2888,2867,1541,1090,889,695,494,287,234,45,93309,2021-04-22 18:30:55.264805

In [107]:
df2.set_index('Date', inplace=True)
df2

NEGERI,SABAH,SELANGOR,WP KUALA LUMPUR,NEGERI SEMBILAN,JOHOR,PULAU PINANG,KEDAH,PERAK,WP LABUAN,SARAWAK,PAHANG,MELAKA,KELANTAN,TERENGGANU,WP PUTRAJAYA,PERLIS,JUMLAH KESELURUHAN
Date,,,,,,,,,,,,,,,,,
2021-04-22 18:30:55.264805,196,441 (1),284,169,156,30,6,10,27,3 (2),12,1,1,2,2,0,"1,340 (3)"
2021-04-22 18:30:55.264805,34478,24465,10188,7045,3143,2960,2888,2867,1541,1090,889,695,494,287,234,45,93309

- Before     --  'W.P. KUALA LUMPUR'
- 20-12-2020 --  'WP\xa0KUALA LUMPUR'
- 21-12-2020 --  'WP KUALA LUMPUR', 'WP\xa0PUTRAJAYA'
- 10-02-2021 --  'WP KUALA LUMPUR'

In [122]:
df2.columns.values

array(['SABAH', 'SELANGOR', 'W.P. KUALA LUMPUR', 'NEGERI SEMBILAN',
       'JOHOR', 'PULAU PINANG', 'KEDAH', 'PERAK', 'W.P. LABUAN',
       'SARAWAK', 'PAHANG', 'MELAKA', 'KELANTAN', 'TERENGGANU',
       'W.P. PUTRAJAYA', 'PERLIS', 'JUMLAH KESELURUHAN'], dtype=object)

In [123]:
def replace_unk_name(matchObj):
    new_name = ' '.join(['WP', matchObj.group(3)]).strip()
    # display(new_name)
    return new_name

new_col_names = []
# to fixed weird names containing \xa0 
#  or extra spaces in between WP and state name
for col_name in df2.columns:
    new_col_names.append(re.sub(r'(WP|W.P.)(\xa0|[\s]+)(\w+)', replace_unk_name, col_name))

new_col_names

['SABAH',
 'SELANGOR',
 'WP KUALA LUMPUR',
 'NEGERI SEMBILAN',
 'JOHOR',
 'PULAU PINANG',
 'KEDAH',
 'PERAK',
 'WP LABUAN',
 'SARAWAK',
 'PAHANG',
 'MELAKA',
 'KELANTAN',
 'TERENGGANU',
 'WP PUTRAJAYA',
 'PERLIS',
 'JUMLAH KESELURUHAN']

In [113]:
df2.columns = new_col_names

In [118]:
df2.columns.values

array(['SABAH', 'SELANGOR', 'W.P. KUALA LUMPUR', 'NEGERI SEMBILAN',
       'JOHOR', 'PULAU PINANG', 'KEDAH', 'PERAK', 'W.P. LABUAN',
       'SARAWAK', 'PAHANG', 'MELAKA', 'KELANTAN', 'TERENGGANU',
       'W.P. PUTRAJAYA', 'PERLIS', 'JUMLAH KESELURUHAN'], dtype=object)

In [49]:
# col_names = df2.columns.values
df2.columns.values

array(['SELANGOR', 'SABAH', 'WP KUALA LUMPUR', 'JOHOR', 'NEGERI SEMBILAN',
       'PULAU PINANG', 'PERAK', 'KEDAH', 'SARAWAK', 'MELAKA', 'KELANTAN',
       'PAHANG', 'TERENGGANU', 'WP LABUAN', 'WP PUTRAJAYA', 'PERLIS',
       'JUMLAH KESELURUHAN'], dtype=object)

In [29]:
df2['WP\xa0KUALA LUMPUR']

Date
2021-04-22 18:19:25.929077      284
2021-04-22 18:19:25.929077    10188
Name: WP KUALA LUMPUR, dtype: object

In [116]:
col_names = np.array(['KEDAH', 'PULAU PINANG', 'PERAK', 'SELANGOR',
       'NEGERI SEMBILAN', 'MELAKA', 'JOHOR', 'PAHANG', 'TERENGGANU',
       'KELANTAN', 'SABAH', 'SARAWAK', 'W.P. KUALA LUMPUR',
       'W.P. PUTRAJAYA', 'W.P. LABUAN', 'JUMLAH KESELURUHAN', 'PERLIS'])

In [117]:
df2[col_names]

,KEDAH,PULAU PINANG,PERAK,SELANGOR,NEGERI SEMBILAN,MELAKA,JOHOR,PAHANG,TERENGGANU,KELANTAN,SABAH,SARAWAK,W.P. KUALA LUMPUR,W.P. PUTRAJAYA,W.P. LABUAN,JUMLAH KESELURUHAN,PERLIS
Date,,,,,,,,,,,,,,,,,
2021-04-22 18:30:55.264805,6,30,10,441 (1),169,1,156,12,2,1,196,3 (2),284,2,27,"1,340 (3)",0
2021-04-22 18:30:55.264805,2888,2960,2867,24465,7045,695,3143,889,287,494,34478,1090,10188,234,1541,93309,45

In [207]:
df_new_case = df2.iloc[[0], :]
# df_new_case.index = current_date
df_cumul_case = df2.iloc[[1], :]
# df_cumul_case.index = current_date
display(df_new_case) 
display(df_cumul_case)

NEGERI,PERLIS,KEDAH,PULAU PINANG,PERAK,SELANGOR,NEGERI SEMBILAN,MELAKA,JOHOR,PAHANG,TERENGGANU,KELANTAN,SABAH,SARAWAK,W.P. KUALA LUMPUR,W.P. PUTRAJAYA,W.P. LABUAN,JUMLAH KESELURUHAN
Date,,,,,,,,,,,,,,,,,
2021-04-22 16:57:02.380137,0,1,6,8,36,6,0,20,4,2,4,10,15,16,2,0,130

NEGERI,PERLIS,KEDAH,PULAU PINANG,PERAK,SELANGOR,NEGERI SEMBILAN,MELAKA,JOHOR,PAHANG,TERENGGANU,KELANTAN,SABAH,SARAWAK,W.P. KUALA LUMPUR,W.P. PUTRAJAYA,W.P. LABUAN,JUMLAH KESELURUHAN
Date,,,,,,,,,,,,,,,,,
2021-04-22 16:57:02.380137,10,73,80,159,546,138,33,259,70,41,98,182,110,337,20,5,2161

In [208]:
pd.concat([df_new_case, df_new_case])

NEGERI,PERLIS,KEDAH,PULAU PINANG,PERAK,SELANGOR,NEGERI SEMBILAN,MELAKA,JOHOR,PAHANG,TERENGGANU,KELANTAN,SABAH,SARAWAK,W.P. KUALA LUMPUR,W.P. PUTRAJAYA,W.P. LABUAN,JUMLAH KESELURUHAN
Date,,,,,,,,,,,,,,,,,
2021-04-22 16:57:02.380137,0,1,6,8,36,6,0,20,4,2,4,10,15,16,2,0,130
2021-04-22 16:57:02.380137,0,1,6,8,36,6,0,20,4,2,4,10,15,16,2,0,130

In [209]:
df_new_case.append(df_new_case)

NEGERI,PERLIS,KEDAH,PULAU PINANG,PERAK,SELANGOR,NEGERI SEMBILAN,MELAKA,JOHOR,PAHANG,TERENGGANU,KELANTAN,SABAH,SARAWAK,W.P. KUALA LUMPUR,W.P. PUTRAJAYA,W.P. LABUAN,JUMLAH KESELURUHAN
Date,,,,,,,,,,,,,,,,,
2021-04-22 16:57:02.380137,0,1,6,8,36,6,0,20,4,2,4,10,15,16,2,0,130
2021-04-22 16:57:02.380137,0,1,6,8,36,6,0,20,4,2,4,10,15,16,2,0,130

In [160]:
# To join multindex columns
# https://stackoverflow.com/questions/24290297/pandas-dataframe-with-multiindex-column-merge-levels
# df2.columns.map(lambda x: '_'.join([str(i) for i in x]))

Index(['PERLIS_BILANGAN KES BAHARU', 'PERLIS_BILANGAN KES KUMULATIF',
       'KEDAH_BILANGAN KES BAHARU', 'KEDAH_BILANGAN KES KUMULATIF',
       'PULAU PINANG_BILANGAN KES BAHARU',
       'PULAU PINANG_BILANGAN KES KUMULATIF', 'PERAK_BILANGAN KES BAHARU',
       'PERAK_BILANGAN KES KUMULATIF', 'SELANGOR_BILANGAN KES BAHARU',
       'SELANGOR_BILANGAN KES KUMULATIF',
       'NEGERI SEMBILAN_BILANGAN KES BAHARU',
       'NEGERI SEMBILAN_BILANGAN KES KUMULATIF', 'MELAKA_BILANGAN KES BAHARU',
       'MELAKA_BILANGAN KES KUMULATIF', 'JOHOR_BILANGAN KES BAHARU',
       'JOHOR_BILANGAN KES KUMULATIF', 'PAHANG_BILANGAN KES BAHARU',
       'PAHANG_BILANGAN KES KUMULATIF', 'TERENGGANU_BILANGAN KES BAHARU',
       'TERENGGANU_BILANGAN KES KUMULATIF', 'KELANTAN_BILANGAN KES BAHARU',
       'KELANTAN_BILANGAN KES KUMULATIF', 'SABAH_BILANGAN KES BAHARU',
       'SABAH_BILANGAN KES KUMULATIF', 'SARAWAK_BILANGAN KES BAHARU',
       'SARAWAK_BILANGAN KES KUMULATIF',
       'W.P. KUALA LUMPUR_BILANGAN KES BAHARU',
       'W.P. KUALA LUMPUR_BILANGAN KES KUMULATIF',
       'W.P. PUTRAJAYA_BILANGAN KES BAHARU',
       'W.P. PUTRAJAYA_BILANGAN KES KUMULATIF',
       'W.P. LABUAN_BILANGAN KES BAHARU', 'W.P. LABUAN_BILANGAN KES KUMULATIF',
       'JUMLAH KESELURUHAN_BILANGAN KES BAHARU',
       'JUMLAH KESELURUHAN_BILANGAN KES KUMULATIF'],
      dtype='object')

## Second method: Concat first before processing

In [2]:
current_url = "https://kpkesihatan.com/2020/12/20/kenyataan-akhbar-kpk-20-disember-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"
second_url = "https://kpkesihatan.com/2020/12/21/kenyataan-akhbar-kpk-21-disember-2020-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/"

r = requests.get(current_url)
if r.status_code == 404:
    raise Exception("Error 404 accessing page!!")

df = pd.read_html(r.content, match='JUMLAH KESELURUHAN', header=0)[-1]
df

                NEGERI BILANGAN KES BAHARU *( )  BILANGAN KES KUMULATIF
0                SABAH                      196                   34478
1             SELANGOR                  441 (1)                   24465
2      WP KUALA LUMPUR                      284                   10188
3      NEGERI SEMBILAN                      169                    7045
4                JOHOR                      156                    3143
5         PULAU PINANG                       30                    2960
6                KEDAH                        6                    2888
7                PERAK                       10                    2867
8            WP LABUAN                       27                    1541
9              SARAWAK                    3 (2)                    1090
10              PAHANG                       12                     889
11              MELAKA                        1                     695
12            KELANTAN                        1                     494
13          TERENGGANU                        2                     287
14        WP PUTRAJAYA                        2                     234
15              PERLIS                        0                      45
16  JUMLAH KESELURUHAN                1,340 (3)                   93309

In [3]:
r = requests.get(second_url)
if r.status_code == 404:
    raise Exception("Error 404 accessing page!!")

df2 = pd.read_html(r.content, match='JUMLAH KESELURUHAN', header=0)[-1]
df2

                NEGERI BILANGAN KES BAHARU *( )  BILANGAN KES KUMULATIF
0                SABAH                      247                   34725
1             SELANGOR                1,204 (1)                   25669
2      WP KUALA LUMPUR                  127 (4)                   10315
3      NEGERI SEMBILAN                       58                    7103
4                JOHOR                  278 (1)                    3421
5         PULAU PINANG                       18                    2978
6                KEDAH                        3                    2891
7                PERAK                       21                    2888
8            WP LABUAN                   29 (1)                    1570
9              SARAWAK                        0                    1090
10              PAHANG                       12                     901
11              MELAKA                        9                     704
12            KELANTAN                        6                     500
13          TERENGGANU                        1                     288
14        WP PUTRAJAYA                        5                     239
15              PERLIS                        0                      45
16  JUMLAH KESELURUHAN                2,018 (7)                   95327

In [7]:
from datetime import timedelta
current_date = datetime.today()
next_date = datetime.today() + timedelta(days=1)

In [8]:
df.columns = ['State', 'New Case', 'Cumulative Case']
df['Date'] = current_date
df2.columns = ['State', 'New Case', 'Cumulative Case']
df2['Date'] = next_date
df2.columns

Index(['State', 'New Case', 'Cumulative Case', 'Date'], dtype='object')

In [9]:
combined_df = df.append(df2)
combined_df

                 State   New Case  Cumulative Case                       Date
0                SABAH        196            34478 2021-04-22 22:56:34.075118
1             SELANGOR    441 (1)            24465 2021-04-22 22:56:34.075118
2      WP KUALA LUMPUR        284            10188 2021-04-22 22:56:34.075118
3      NEGERI SEMBILAN        169             7045 2021-04-22 22:56:34.075118
4                JOHOR        156             3143 2021-04-22 22:56:34.075118
5         PULAU PINANG         30             2960 2021-04-22 22:56:34.075118
6                KEDAH          6             2888 2021-04-22 22:56:34.075118
7                PERAK         10             2867 2021-04-22 22:56:34.075118
8            WP LABUAN         27             1541 2021-04-22 22:56:34.075118
9              SARAWAK      3 (2)             1090 2021-04-22 22:56:34.075118
10              PAHANG         12              889 2021-04-22 22:56:34.075118
11              MELAKA          1              695 2021-04-22 22:56:34.075118
12            KELANTAN          1              494 2021-04-22 22:56:34.075118
13          TERENGGANU          2              287 2021-04-22 22:56:34.075118
14        WP PUTRAJAYA          2              234 2021-04-22 22:56:34.075118
15              PERLIS          0               45 2021-04-22 22:56:34.075118
16  JUMLAH KESELURUHAN  1,340 (3)            93309 2021-04-22 22:56:34.075118
0                SABAH        247            34725 2021-04-23 22:56:34.075118
1             SELANGOR  1,204 (1)            25669 2021-04-23 22:56:34.075118
2      WP KUALA LUMPUR    127 (4)            10315 2021-04-23 22:56:34.075118
3      NEGERI SEMBILAN         58             7103 2021-04-23 22:56:34.075118
4                JOHOR    278 (1)             3421 2021-04-23 22:56:34.075118
5         PULAU PINANG         18             2978 2021-04-23 22:56:34.075118
6                KEDAH          3             2891 2021-04-23 22:56:34.075118
7                PERAK         21             2888 2021-04-23 22:56:34.075118
8            WP LABUAN     29 (1)             1570 2021-04-23 22:56:34.075118
9              SARAWAK          0             1090 2021-04-23 22:56:34.075118
10              PAHANG         12              901 2021-04-23 22:56:34.075118
11              MELAKA          9              704 2021-04-23 22:56:34.075118
12            KELANTAN          6              500 2021-04-23 22:56:34.075118
13          TERENGGANU          1              288 2021-04-23 22:56:34.075118
14        WP PUTRAJAYA          5              239 2021-04-23 22:56:34.075118
15              PERLIS          0               45 2021-04-23 22:56:34.075118
16  JUMLAH KESELURUHAN  2,018 (7)            95327 2021-04-23 22:56:34.075118

In [53]:
combined_df.State = combined_df.State.str.replace('\xa0', ' ').str.replace('.', '', regex=False)
# combined_df.State = combined_df.State.str.replace('.', '', regex=False)

In [54]:
combined_df

                 State   New Case  Cumulative Case                       Date
0                SABAH        196            34478 2021-04-22 22:32:25.116029
1             SELANGOR    441 (1)            24465 2021-04-22 22:32:25.116029
2      WP KUALA LUMPUR        284            10188 2021-04-22 22:32:25.116029
3      NEGERI SEMBILAN        169             7045 2021-04-22 22:32:25.116029
4                JOHOR        156             3143 2021-04-22 22:32:25.116029
5         PULAU PINANG         30             2960 2021-04-22 22:32:25.116029
6                KEDAH          6             2888 2021-04-22 22:32:25.116029
7                PERAK         10             2867 2021-04-22 22:32:25.116029
8            WP LABUAN         27             1541 2021-04-22 22:32:25.116029
9              SARAWAK      3 (2)             1090 2021-04-22 22:32:25.116029
10              PAHANG         12              889 2021-04-22 22:32:25.116029
11              MELAKA          1              695 2021-04-22 22:32:25.116029
12            KELANTAN          1              494 2021-04-22 22:32:25.116029
13          TERENGGANU          2              287 2021-04-22 22:32:25.116029
14        WP PUTRAJAYA          2              234 2021-04-22 22:32:25.116029
15              PERLIS          0               45 2021-04-22 22:32:25.116029
16  JUMLAH KESELURUHAN  1,340 (3)            93309 2021-04-22 22:32:25.116029
17               SABAH        247            34725 2021-04-23 22:42:46.184788
18            SELANGOR  1,204 (1)            25669 2021-04-23 22:42:46.184788
19     WP KUALA LUMPUR    127 (4)            10315 2021-04-23 22:42:46.184788
20     NEGERI SEMBILAN         58             7103 2021-04-23 22:42:46.184788
21               JOHOR    278 (1)             3421 2021-04-23 22:42:46.184788
22        PULAU PINANG         18             2978 2021-04-23 22:42:46.184788
23               KEDAH          3             2891 2021-04-23 22:42:46.184788
24               PERAK         21             2888 2021-04-23 22:42:46.184788
25           WP LABUAN     29 (1)             1570 2021-04-23 22:42:46.184788
26             SARAWAK          0             1090 2021-04-23 22:42:46.184788
27              PAHANG         12              901 2021-04-23 22:42:46.184788
28              MELAKA          9              704 2021-04-23 22:42:46.184788
29            KELANTAN          6              500 2021-04-23 22:42:46.184788
30          TERENGGANU          1              288 2021-04-23 22:42:46.184788
31        WP PUTRAJAYA          5              239 2021-04-23 22:42:46.184788
32              PERLIS          0               45 2021-04-23 22:42:46.184788
33  JUMLAH KESELURUHAN  2,018 (7)            95327 2021-04-23 22:42:46.184788

In [55]:
combined_df.pivot_table(index='Date', columns='State', values='New Case', aggfunc='max')

State,JOHOR,JUMLAH KESELURUHAN,KEDAH,KELANTAN,MELAKA,NEGERI SEMBILAN,PAHANG,PERAK,PERLIS,PULAU PINANG,SABAH,SARAWAK,SELANGOR,TERENGGANU,WP KUALA LUMPUR,WP LABUAN,WP PUTRAJAYA
Date,,,,,,,,,,,,,,,,,
2021-04-22 22:32:25.116029,156,"1,340 (3)",6,1,1,169,12,10,0,30,196,3 (2),441 (1),2,284,27,2
2021-04-23 22:42:46.184788,278 (1),"2,018 (7)",3,6,9,58,12,21,0,18,247,0,"1,204 (1)",1,127 (4),29 (1),5

In [56]:
combined_df.pivot_table(index='Date', columns='State', values='Cumulative Case', aggfunc='max')

State,JOHOR,JUMLAH KESELURUHAN,KEDAH,KELANTAN,MELAKA,NEGERI SEMBILAN,PAHANG,PERAK,PERLIS,PULAU PINANG,SABAH,SARAWAK,SELANGOR,TERENGGANU,WP KUALA LUMPUR,WP LABUAN,WP PUTRAJAYA
Date,,,,,,,,,,,,,,,,,
2021-04-22 22:32:25.116029,3143,93309,2888,494,695,7045,889,2867,45,2960,34478,1090,24465,287,10188,1541,234
2021-04-23 22:42:46.184788,3421,95327,2891,500,704,7103,901,2888,45,2978,34725,1090,25669,288,10315,1570,239